<template>
    <div class="x_panel">
        <div class="x_title">
            <h2>{{ $route.meta.title }}</h2>
            <div class="box-tools pull-right">
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <keep-alive>
                <router-view></router-view>
            </keep-alive>
        </div>
    </div>
</template>

<script>

    import Spinner from "vue-simple-spinner";

    Vue.use('Spinner',Spinner);


    export default {
        name: "privatePrescriptions",

        components: {
            Spinner,
        },

        data: function () {
            return {
                isLoadingMain: true,
                moonColor: '#000000',
                moonSize: '20px',
            }
        },

    }


</script>

<style scoped>

</style>