<template>
    <div>
        <div class="box-info" v-if="$parent.isLoadingMain">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="center-block true-center text-center"  style="margin-top: 25px;">
                            <spinner :size="55"></spinner>
                            <p>Loading Data</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-info" v-else>
            <div class="box-body">
                <div class="row">
                    <div id="counter-box">
                        <div class="row tile_count">
                            <a href="/repeatprescription/admin/repeatprescription/page/all">
                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                <span class="count_top"><i class="fa fa-medkit"></i> Total Repeat Prescription</span>
                                <div class="count">{{counter.total}}</div>
                            </div>
                            </a>
                            <a href="/repeatprescription/admin/repeatprescription/page/raisednotsigned">
                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                <span class="count_top"><i class="fa fa-clock-o"></i> Total Not Signed off</span>
                                <div class="count">{{counter.raisedNotSigned}}</div>
                            </div>
                            </a>
                            <a href="/repeatprescription/admin/repeatprescription/page/escalated">
                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                <span class="count_top"><i class="fa fa-exclamation-triangle"></i> Total Escalated</span>
                                <div class="count">{{counter.escalated}}</div>
                            </div>
                            </a>
                            <a href="/repeatprescription/admin/repeatprescription/page/rejected">
                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                <span class="count_top"><i class="fa fa-close"></i> Total Rejected</span>
                                <div class="count green">{{counter.drRejected}}</div>
                            </div>
                            </a>
                            <a href="/repeatprescription/admin/repeatprescription/page/signedoff">
                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                <span class="count_top"><i class="fa fa-check"></i> Total Signed Off</span>
                                <div class="count">{{counter.drSignedOff}}</div>
                            </div>
                            </a>
                            <a href="/repeatprescription/admin/repeatprescription/page/sent">
                            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                                <span class="count_top"><i class="fa fa-truck"></i> Total Sent</span>
                                <div class="count">{{counter.sent}}</div>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <filter-bar></filter-bar>
                    <div class="loaderAnimation col-xs-12 no-padding" v-if="isLoadingDataTable">
                        <div style="margin: 0 auto; text-align: center; width:20px;" >
                            <moon-loader :loading="isLoadingDataTable" :size="loaderSize" :margin="loaderMargin" :color="loaderColor"></moon-loader>
                        </div>
                        <div style="margin: 0 auto; text-align: center; width:300px; min-height:25px;" >
                            <p>Loading Prescriptions</p>
                        </div>
                    </div>
                    <vuetable ref="vuetable"
                              :api-url="apiUrl"
                              :fields="fieldsData"
                              pagination-path=""
                              :css="css.table"
                              :multi-sort="true"
                              detail-row-component="my-detail-row"
                              :append-params="moreParams"
                              @vuetable:cell-clicked="onCellClicked"
                              @vuetable:pagination-data="onPaginationData"
                              @vuetable:loading="onLoading"
                              @vuetable:loaded="onLoaded"
                    ></vuetable>
                    <vuetable-pagination-info ref="paginationInfo"
                                              info-class="pagination-info">
                    </vuetable-pagination-info>
                    <vuetable-pagination ref="pagination"
                                         :css="css.pagination"
                                         @vuetable-pagination:change-page="onChangePage">
                    </vuetable-pagination>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import Spinner from "vue-simple-spinner";
    Vue.use('Spinner',Spinner);

    import Vuetable from 'vuetable-2/src/components/Vuetable'
    Vue.component('vuetable', Vuetable);

    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    Vue.component('vuetable-pagination', VuetablePagination);

    import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
    Vue.component('vuetable-pagination-info', VuetablePaginationInfo);

    import PrescriptionListActions from './PrescriptionListActions';
    Vue.component(PrescriptionListActions.name, PrescriptionListActions);

    import FilterBar from './FilterBar'
    Vue.component(FilterBar.name, FilterBar);

    import MoonLoader from 'vue-spinner/src/MoonLoader'
    Vue.component('moon-loader', MoonLoader);



    export default {
        name: "managePrescriptions",

        components: {
            Spinner
        },

        beforeRouteEnter(to, from, next) {
            next(vm => {
                vm.$parent.isLoadingMain = false;
            });
        },

        mounted() {
            var self = this;

            self.appBus().$on('refresh-data-table', () => {
                self.refreshTable();
            });

            self.appBus().$on('reload-data-table', () => {
                self.reloadTable();
            });


            self.appBus().$on('show-endorsements', endorsements => {
                self.loadItems(endorsements);
            });

            self.appBus().$on('filter-set', (filterText) => {
                self.moreParams = {
                    status: this.$route.params.status ?  this.$route.params.status : null,
                    filter: filterText
                };
                Vue.nextTick( () => self.$refs.vuetable.refresh() )
            });

            self.appBus().$on('filter-reset', () => {
                self.moreParams = {
                    status: this.$route.params.status ?  this.$route.params.status : null,
                };
                Vue.nextTick( () => self.$refs.vuetable.refresh() )
            })
        },

        data: function () {
            return {
                isLoadingDataTable: false,
                loaderSize: '20px',
                loaderColor: 'darkblue',
                loaderMargin: '0 auto',
                apiUrl: laroute.route('admin.repeat.prescriptions.get'),
                fieldsData: [
                    {
                        name: 'prescriptionid',
                        title: 'Prescription Id',
                        sortField: 'prescriptionid',
                        callback: 'prescriptionPage',
                    },
                    {
                        name: 'patientid',
                        title: 'Patient Id',
                        sortField: 'patientid',
                        callback: 'patientPage',

                    },
                    {
                        name: 'patient.full_name',
                        title: 'Patient Name',
                        // sortField: 'patient.PatientForename',

                    },
                    {
                        name: 'endorsements',
                        title: 'Items',
                        sortField: 'endorsements',

                    },
                    {
                        name: 'sentfax',
                        title: 'Sent Faxes',
                        titleClass: 'center aligned',
                        dataClass: 'center aligned',
                        sortField: 'sentfax',

                    },
                    {
                        name: 'dateraised',
                        title: 'Date Raised',
                        sortField: 'dateraised',

                    },
                    {
                        name: 'patient.SurgeryFax',
                        title: 'Surgery Fax',
                        callback: 'formatData'

                    },
                    {
                        name: 'patient.NHSNumber',
                        title: 'NHS Number',
                        callback: 'formatData',
                        // sortField: 'patient.NHSNumber',

                    },
                    {
                        name: 'patient.eps',
                        title: 'EPS',
                        callback: 'formatEPS',
                        // sortField: 'patient.eps',

                    },
                    {
                        name: '__component:prescription-list-actions',
                        title: 'Actions',
                    }
                ],
                css: {
                    table: {
                        tableClass: 'table table-striped table-hover jambo_table',
                        ascendingIcon: 'glyphicon glyphicon-chevron-up',
                        descendingIcon: 'glyphicon glyphicon-chevron-down'
                    },
                    pagination: {
                        wrapperClass: 'dataTables_paginate paging_simple_numbers pagination',
                        activeClass: 'active',
                        disabledClass: '',
                        pageClass: 'page',
                        linkClass: 'paginate_button',
                        icons: {
                            first: '',
                            prev: '',
                            next: '',
                            last: '',
                        },
                    },
                    icons: {
                        first: 'glyphicon glyphicon-step-backward',
                        prev: 'glyphicon glyphicon-chevron-left',
                        next: 'glyphicon glyphicon-chevron-right',
                        last: 'glyphicon glyphicon-step-forward',
                    },
                },
                moreParams: {
                    status: this.$route.params.status ?  this.$route.params.status : null,
                },
                counter: {"total":'N/A',"raisedNotSigned":'N/A',"escalated":'N/A',"drRejected":'N/A',"drSignedOff":'N/A',"sent":'N/A'},

            }
        },


        methods: {
            appBus() {
                return this.$appBusEvent;
            },
            formatDate (value, fmt = 'D MMM YYYY') {
                return (value == null)
                    ? ''
                    : moment(value, 'YYYY-MM-DD').format(fmt)
            },
            formatEPS (value) {
                var estimatedEPS = value ? value.EstimatedEPS*100 : null;
                return (estimatedEPS !== null)
                    ? '<strong>EPS:</strong> '+estimatedEPS.toFixed(0) +'%'
                    : '<strong>EPS:</strong> N/A'
            },
            formatData (value) {
                return (value == null)
                    ? 'N/A'
                    : value
            },
            prescriptionPage (prescriptionId) {
                return '<a href="/repeatprescription/admin/repeat/' + prescriptionId + '" target="_blank"><strong>' + prescriptionId + '</strong></a>';
            },
            patientPage (patientId) {
                return '<a href="/admin/patient/view/' + patientId + '" target="_blank"><strong>' + patientId + '</strong></a>';
            },
            onPaginationData (paginationData) {
                this.$refs.pagination.setPaginationData(paginationData);
                this.$refs.paginationInfo.setPaginationData(paginationData)
            },
            onChangePage (page) {
                this.$refs.vuetable.changePage(page)
            },
            onCellClicked (data, field , event) {
                console.log('Cell Data: ', data);
                console.log('Cell Event: ', event);
                console.log('Cell Field: ', field);
                $('.vuetable-body').find('tr').css('background-color', 'transparent');
                $(event.path[1]).css('background-color', 'rgba(249, 229, 252, 1)');
            },
            reloadTable() {
                this.$refs.vuetable.reload();
            },

            refreshTable() {
                this.$refs.vuetable.refresh();
            },

            onLoading() {
                this.isLoadingDataTable = true;
                showLoader();
            },

            onLoaded() {
                this.isLoadingDataTable = false;
                this.countRepeat();
                hideLoader();
            },

            countRepeat(){
                var self = this;
                axios.get(laroute.route('admin.repeat.prescriptions.count'))
                    .then(function (response) {
                        console.log(response);
                        self.counter = response.data;
                    })
                    .catch(function (error) {
                       console.log(error);
                    });
            },

            loadItems(endorsements){
                console.log("Endorsements:",endorsements);
                swal({
                    title: 'Endorsements',
                    showCancelButton: false,
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                    allowEnterKey: false,
                    html: $('#counter-box').html(),
                    onOpen: function () {
                    }
                });

            },

        },



        watch: {

            '$route.params.status': function () {
                var self = this;
                if(self.$route.name ==='managePrescriptions'){

                    $('.vuetable-body').find('tr').css('background-color', 'transparent');
                    self.appBus().$emit('clear-filter');
                    self.appBus().$emit('filter-reset');
                }
            }
        }
    }
</script>

<style scoped>

    .loaderAnimation{
        height: 75px;
        width: 100%;
        z-index: 999;
        text-align: center;
        padding: 25px 0px;
        position:absolute;
        margin: 75px auto;
    }
    .v-spinner > .v-moon{
        margin:0 auto !important;
    }
    ::-webkit-input-placeholder {
        font-style: italic;
    }
    :-moz-placeholder {
        font-style: italic;
    }
    ::-moz-placeholder {
        font-style: italic;
    }
    :-ms-input-placeholder {
        font-style: italic;
    }

    .pagination {
        margin: 0;
        float: right;
    }
    .pagination a.page {
        border: 1px solid lightgray;
        border-radius: 3px;
        padding: 5px 10px;
        margin-right: 2px;
        text-decoration: none !important;
    }

    .pagination a.page:hover {
        color: white;
        background-color: lightgray !important;
        border: 1px solid lightgray;
        border-radius: 3px;
        padding: 5px 10px;
        margin-right: 2px;
        cursor: pointer !important;
    }
    .pagination a.page.active {
        color: white;
        background-color: #337ab7;
        border: 1px solid lightgray;
        border-radius: 3px;
        padding: 5px 10px;
        margin-right: 2px;
    }
    .pagination a.btn-nav {
        border: 1px solid lightgray;
        border-radius: 3px;
        padding: 5px 10px;
        margin-right: 2px;
    }
    .pagination a.btn-nav:hover {
        text-decoration: none !important;
        background-color: lightgray !important;
        border: 1px solid lightgray;
        border-radius: 3px;
        padding: 5px 10px;
        margin-right: 2px;
        cursor: pointer;
    }
    .pagination a.btn-nav.disabled {
        background: none !important;
        color: lightgray;
        border: 1px solid lightgray;
        border-radius: 3px;
        padding: 5px 10px;
        margin-right: 2px;
        cursor: not-allowed;
    }
    .pagination-info {
        float: left;
    }
    .pagination a:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .pagination a:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
</style>