<template>
    <div>
        <ul class="list-inline">
            <li v-if="rowData.patient && (rowData.patient.PatientAddress5 !== rowData.patient.AlternateAddress5)">
                <popover :title="primaryPopoverTitle"
                         :placement="primaryPopoverPlacement"
                         :auto-placement="primaryPopoverAutoPlacement"
                         :trigger="primaryPopoverTrigger"
                         :enable="enablePrimaryPopover"
                         v-model="primaryPopover[rowIndex]"
                         ref="popoverPrimary">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-home fa-stack-1x"></i>
                      <i class="fa fa-ban fa-stack-2x text-danger"></i>
                    </span>
                    <div slot="popover">
                        <h6><strong>Home Address</strong></h6>
                        <ul class='list-unstyled'>
                            <li>{{ rowData.patient.PatientAddress1 ? rowData.patient.PatientAddress1 : ''  }}</li>
                            <li>{{ rowData.patient.PatientAddress2 ? rowData.patient.PatientAddress2 : ''  }}</li>
                            <li>{{ rowData.patient.PatientAddress3 ? rowData.patient.PatientAddress3 : ''  }}</li>
                            <li>{{ rowData.patient.PatientAddress4 ? rowData.patient.PatientAddress4 : ''  }}</li>
                            <li>{{ rowData.patient.PatientAddress5 ? rowData.patient.PatientAddress5 : ''  }}</li>
                        </ul>
                        <h6><strong>Delivery Address</strong></h6>
                        <ul class='list-unstyled'>
                            <li>{{ rowData.patient.AlternateAddress1 ?  rowData.patient.AlternateAddress1 : ''  }}</li>
                            <li>{{ rowData.patient.AlternateAddress2 ?  rowData.patient.AlternateAddress2 : ''  }}</li>
                            <li>{{ rowData.patient.AlternateAddress3 ?  rowData.patient.AlternateAddress3 : ''  }}</li>
                            <li>{{ rowData.patient.AlternateAddress4 ?  rowData.patient.AlternateAddress4 : ''  }}</li>
                            <li>{{ rowData.patient.AlternateAddress5 ?  rowData.patient.AlternateAddress5 : ''  }}</li>
                        </ul>
                    </div>
                </popover>
            </li>
            <li v-else>
                <popover :title="primaryPopoverTitle"
                         :placement="primaryPopoverPlacement"
                         :auto-placement="primaryPopoverAutoPlacement"
                         :trigger="primaryPopoverTrigger"
                         :enable="enablePrimaryPopover"
                         v-model="primaryPopover[rowIndex]"
                         ref="popoverPrimary">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x text-success"></i>
                      <i class="fa fa-home fa-stack-1x" style="color: #ffffff !important"></i>
                    </span>
                    <div slot="popover">
                        <h6><strong>Home Address</strong></h6>
                        <ul class='list-unstyled'>
                            <li>{{ rowData.patient.PatientAddress1 ? rowData.patient.PatientAddress1 : ''  }}</li>
                            <li>{{ rowData.patient.PatientAddress2 ? rowData.patient.PatientAddress2 : ''  }}</li>
                            <li>{{ rowData.patient.PatientAddress3 ? rowData.patient.PatientAddress3 : ''  }}</li>
                            <li>{{ rowData.patient.PatientAddress4 ? rowData.patient.PatientAddress4 : ''  }}</li>
                            <li>{{ rowData.patient.PatientAddress5 ? rowData.patient.PatientAddress5 : ''  }}</li>
                        </ul>
                        <h6><strong>Delivery Address</strong></h6>
                        <ul class='list-unstyled'>
                            <li>{{ rowData.patient.AlternateAddress1 ?  rowData.patient.AlternateAddress1 : ''  }}</li>
                            <li>{{ rowData.patient.AlternateAddress2 ?  rowData.patient.AlternateAddress2 : ''  }}</li>
                            <li>{{ rowData.patient.AlternateAddress3 ?  rowData.patient.AlternateAddress3 : ''  }}</li>
                            <li>{{ rowData.patient.AlternateAddress4 ?  rowData.patient.AlternateAddress4 : ''  }}</li>
                            <li>{{ rowData.patient.AlternateAddress5 ?  rowData.patient.AlternateAddress5 : ''  }}</li>
                        </ul>
                    </div>
                </popover>
            </li>
            <li>
                <button class="btn btn-primary btn-xs" @click.prevent="showDetailsModal"><i class="fa fa-eye"></i> View</button>
            </li>
            <li>
                <button class="btn btn-primary btn-xs" @click.prevent="showItemsModal" :disabled="!(rowData.prescriptionendorsements && rowData.prescriptionendorsements.length > 0)"><i class="fa fa-clipboard"></i> Items ({{rowData.prescriptionendorsements ? rowData.prescriptionendorsements.length : '0'}})</button>
            </li>
            <li>
                <button class="btn btn-primary btn-xs" @click.prevent="showNotesModal"><i class="fa fa-comments"></i> Notes ({{rowData.notes ? rowData.notes.length : '0'}})</button>
            </li>
            <li v-if="rowData.prescriptionstatus != 30 && rowData.prescriptionstatus != 9 && rowData.prescriptionstatus != 8 && rowData.prescriptionstatus != 2 && rowData.prescriptionstatus != 56 && (rowData.patient.SurgeryFax === null || rowData.patient.SurgeryFax === '')">
                <button class="btn btn-primary btn-xs" @click.prevent="addSurgeryFax(rowData.patientid)" ><i class="fa fa-phone"></i> Add Surgery Fax</button>
            </li>
            <li v-else-if="rowData.prescriptionstatus != 30 && rowData.prescriptionstatus != 9 && rowData.prescriptionstatus != 8 && rowData.prescriptionstatus != 2 && rowData.prescriptionstatus != 56 && (rowData.faxrecords && rowData.faxrecords.length < 1)">
                <button class="btn btn-primary btn-xs" @click.prevent="resendFax(rowData.prescriptionid)" ><i class="fa fa-fax"></i> Send Fax</button>
            </li>
            <li v-else-if="rowData.prescriptionstatus != 30 && rowData.prescriptionstatus != 9 && rowData.prescriptionstatus != 8 && rowData.prescriptionstatus != 2 && rowData.prescriptionstatus != 56 && (rowData.faxrecords && rowData.faxrecords.length > 0)">
                <button class="btn btn-primary btn-xs" @click.prevent="resendFax(rowData.prescriptionid)" ><i class="fa fa-fax"></i> Resend Fax ({{rowData.sentfax}})</button>
            </li>
            <li v-if="rowData.prescriptionstatus != 30 && rowData.prescriptionstatus != 9 && rowData.prescriptionstatus == 8 && (rowData.trackingref === null || rowData.trackingref === '')">
                <button class="btn btn-primary btn-xs" @click.prevent="addTracking(rowData.prescriptionid)" ><i class="fa fa-truck"></i> Add Tracking</button>
            </li>
            <li v-else-if="rowData.prescriptionstatus != 30 && rowData.prescriptionstatus != 9 && rowData.prescriptionstatus == 8 && (rowData.trackingref && rowData.trackingref != null || rowData.trackingref !== '')">
                <a v-if="rowData.prescourier && rowData.prescourier.CourierTrackingUrl" class="btn btn-primary btn-xs" :href="rowData.prescourier.CourierTrackingUrl.replace('{0}', rowData.trackingref)" target="_blank"><i class="fa fa-truck"></i> Check Tracking</a>
                <a v-else class="btn btn-primary btn-xs" :href="'https://www.royalmail.com/track-your-item#/tracking-results/'+rowData.trackingref" target="_blank"><i class="fa fa-truck"></i> Check Tracking</a>
            </li>

            <li>
                <select class="select2_single form-control" v-model="statusChange" title="Mark as">
                    <option value="-1" disabled selected>Mark as</option>
                    <option v-for="statusOption in prescriptionStatusChanger" :value="statusOption.value" v-if="rowData.prescriptionstatus != statusOption.value">{{statusOption.name}}</option>
                </select>
            </li>
        </ul>
        <modal v-model="itemsModalOpen"
               size="lg"
               :keyboard="enableModalKeyboard"
               :backdrop="enableModalBackdrop">
            <div slot="title">Prescription Items</div>
            <div class="items wrapper" v-bar="{
                    preventParentScroll: true,
                    scrollThrottle: 30,
                }">
                <prescription-items :items="rowData.prescriptionendorsements"  :prescription="rowData"
                                :modalLoaded="itemsModalOpen"></prescription-items>
            </div>
            <div slot="footer">
                <button class="btn btn-danger" @click.prevent="closeItemsModal">Close</button>

            </div>
        </modal>
        <modal v-model="detailsModalOpen"
               size="lg"
               :keyboard="enableModalKeyboard"
               :backdrop="enableModalBackdrop">
            <div slot="title">Prescription Details</div>
            <div class="items wrapper" v-bar="{
                    preventParentScroll: true,
                    scrollThrottle: 30,
                }">
                <prescription-details :prescription="rowData"
                                    :modalLoaded="detailsModalOpen"></prescription-details>
            </div>
            <div slot="footer">
                <a class="btn btn-primary"  style="margin-bottom: 0;" :href="'/repeatprescription/admin/repeat/'+rowData.prescriptionid" target="_blank"> View Full </a>
                <button class="btn btn-danger"  style="margin-bottom: 0;" @click.prevent="closeDetailsModal">Close</button>

            </div>
        </modal>
        <modal v-model="notesModalOpen"
               size="lg"
               :keyboard="enableModalKeyboard"
               :backdrop="enableModalBackdrop">
            <div slot="title">Prescription Notes</div>
            <div class="items wrapper" v-bar="{
                    preventParentScroll: true,
                    scrollThrottle: 30,
                }">
                <prescription-notes :notes="rowData.notes" :prescription="rowData"
                                      :modalLoaded="notesModalOpen"></prescription-notes>
            </div>
            <div slot="footer">
                <button class="btn btn-default" style="margin-bottom: 0;" @click.prevent="getNotes(rowData.prescriptionid)" v-if="notesCounter > 0 || notesEditMode">Show Notes</button>
                <button class="btn btn-primary" style="margin-bottom: 0;" @click.prevent="manageNote(0)" >Add Note</button>
                <button class="btn btn-danger" style="margin-bottom: 0;" @click.prevent="closeNotes">Close</button>
            </div>
        </modal>
    </div>
</template>

<script>
    import {Popover} from 'uiv';
    Vue.component('popover', Popover);

    import Spinner from "vue-simple-spinner";
    Vue.use('Spinner',Spinner);

    import Vuescroll from 'vue-scroll';
    Vue.use('Vuescroll',Vuescroll);

    import {Modal} from 'uiv';
    Vue.component('modal', Modal);

    import PrescriptionItems from './PrescriptionItems.vue';
    Vue.component('prescription-items', PrescriptionItems);

    import PrescriptionDetails from './PrescriptionDetails.vue';
    Vue.component('prescription-details', PrescriptionDetails);

    import PrescriptionNotes from './PrescriptionNotes.vue';
    Vue.component('prescription-notes', PrescriptionNotes);



    export default {
        name: "prescription-list-actions",

        props: {
            rowData: {
                type: Object,
                required: true
            },
            rowIndex: {
                type: Number
            }
        },

        components: {
            Spinner,
            Vuescroll
        },

        data() {
            return {
                primaryPopover: [],
                enablePrimaryPopover: true,
                primaryPopoverPlacement: 'bottom',
                primaryPopoverAutoPlacement: true,
                primaryPopoverTrigger: 'hover',
                primaryPopoverTitle: 'Address Details',
                items:this.rowData.prescriptionendorsements,
                prescription:this.rowData,
                itemsModalOpen: false,
                detailsModalOpen: false,
                notesModalOpen: false,

                enableModalKeyboard: false,
                enableModalBackdrop: false,

                statusChange: -1,
                notesCounter : this.rowData.notes.length,
                notesEditMode: false,
                noteText: null,
                prescriptionStatusChanger: {
                    1: {
                        name: 'Not Signed Off',
                        url: 'repeat.status.markAsNotSignedOff',
                        value: 1,
                    },
                    56: {
                        name: 'Rejected',
                        url: 'repeat.status.markAsRejected',
                        value: 56,
                    },
                    2: {
                        name: 'Doctor Signed Off',
                        url: 'repeat.status.markAsSignedOff',
                        value: 2,
                    },
                    8: {
                        name: 'Sent',
                        url: 'repeat.status.markAsSent',
                        value: 8,
                    },
                    9: {
                        name: 'Delivered',
                        url: 'repeat.status.markAsDelivered',
                        value: 9,
                    },
                    30: {
                        name: 'Cancelled',
                        url: 'repeat.status.markAsCancelled',
                        value: 30,
                    },
                },
            }
        },

        methods: {
            appBus() {
                return this.$appBusEvent;
            },

            getQuickView(data) {

            },


            getNotes(prescriptionid){
                console.log(prescriptionid);
                if(this.notesModalOpen === true){
                    this.appBus().$emit('load-prescription-notes', prescriptionid);
                }
            },

            manageNote(prescriptionid){
                console.log(prescriptionid);
                if(this.notesModalOpen === true){
                    this.appBus().$emit('manage-prescription-notes', prescriptionid);
                }
            },


            showItemsModal(){
                var self = this;
                self.itemsModalOpen = true;
            },
            closeItemsModal() {
                var self = this;
                //refresh table data
                self.appBus().$emit('reload-data-table');
                self.itemsModalOpen = false;
            },

            showDetailsModal(){
                var self = this;
                self.detailsModalOpen = true;
            },
            closeDetailsModal() {
                var self = this;
                //refresh table data
                self.appBus().$emit('reload-data-table');
                self.detailsModalOpen = false;
            },

            showNotesModal(){
                var self = this;
                self.notesModalOpen = true;
            },

            closeNotes() {
                var self = this;

                Vue.nextTick( () => {
                    //refresh table data
                    if(self.noteText !== null  && self.notesEditMode === true){
                        swal({
                            text: "This note has not been saved do you wish to continue?",
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Continue',
                            cancelButtonText: 'Cancel',
                        }).then((result) => {
                            if(result.value){
                                self.notesModalOpen = false;
                                self.appBus().$emit('reset-note-data');
                                self.appBus().$emit('reload-data-table');
                            }else{
                            }
                        });
                    }else{
                        self.notesModalOpen = false;
                        self.appBus().$emit('reset-note-data');
                        self.appBus().$emit('reload-data-table');
                    }
                });
            },

            addSurgeryFax(patientId){
                var self = this;
                swal({
                    html: 'Manage Patient '+patientId+ ' Surgery Fax Number',
                    input: 'text',
                    showCancelButton: true,
                    confirmButtonText: 'Submit',
                    showLoaderOnConfirm: true,
                    preConfirm: (faxnumber) => {
                        return new Promise((resolve) => {
                            const FaxRegex = /^[+0?][0-9]{6,20}$/;
                            if (!FaxRegex.test(faxnumber)) {
                                swal.showValidationError(
                                    'Please enter a valid fax number '
                                );
                                resolve()
                            }else{
                                axios.post(laroute.route('admin.patients.update.surgeryfax', { patientId: patientId}), { SurgeryFax: faxnumber})
                                    .then(function (response) {

                                        if(typeof response.data === 'string' && response.data.indexOf("Access denied") > 0){
                                            swal.showValidationError(
                                                "You don't have permission to this functionality."
                                            );
                                        } else if (typeof response.data.error !== "undefined") {
                                            swal.showValidationError(
                                                'An error occurred while updating patient '+patientId+ ' Surgery Fax Number'
                                            );
                                        }else{
                                            self.prescription.patient.SurgeryFax = faxnumber;
                                            self.rowData.patient.SurgeryFax = faxnumber;
                                        }
                                        resolve()
                                    })
                                    .catch(function (error) {
                                        swal.showValidationError(
                                            'An error occurred while updating patient '+patientId+ ' Surgery Fax Number'
                                        );
                                        resolve()
                                    })
                            }
                        })
                    },
                    allowOutsideClick: () => !swal.isLoading()
                }).then((result) => {
                    if (result.value) {
                        swal({
                            type: 'success',
                            title: 'Patient Data has been successfully updated!',
                            html: 'Submitted Fax Number: ' + result.value
                        })
                    }
                })

            },

            resendFax(prescriptionId){
                var self = this;
                swal({
                    title: '',
                    html: 'Send fax for this prescription? <p class="small">Please ensure that you have enough credits available on the fax account.</p>',
                    type: 'question',
                    showCancelButton: true,
                    allowEscapeKey: false,
                    allowEnterKey: false,
                    allowOutsideClick: false
                }).then((result) => {
                    if (result.value) {
                        showLoader();
                        // repeat.status.resendFax
                        axios.post(laroute.route('repeat.status.resendFax',  {id: prescriptionId}))
                            .then(function (response) {
                                hideLoader();
                                if(typeof response.data === 'string' && response.data.indexOf("Access denied") > 0){
                                    new Noty({
                                        type: 'error',
                                        theme: 'bootstrap-v3',
                                        text: 'You don\'t have permission to this functionality.',
                                        timeout: 4500,
                                        progressBar: true,
                                        closeWith: ['click', 'button']
                                    }).show();
                                }
                                if (typeof response.data.id !== "undefined") {
                                    new Noty({
                                        type: 'success',
                                        theme: 'bootstrap-v3',
                                        text: 'Fax successfully sent for prescription  #'+prescriptionId,
                                        timeout: 4500,
                                        progressBar: true,
                                        closeWith: ['click', 'button']
                                    }).show();
                                    self.appBus().$emit('reload-data-table');
                                } else if (typeof response.data.error !== "undefined") {
                                    new Noty({
                                        type: 'error',
                                        theme: 'bootstrap-v3',
                                        text: response.data.error,
                                        timeout: 4500,
                                        progressBar: true,
                                        closeWith: ['click', 'button']
                                    }).show();
                                }
                            })
                            .catch(function (error) {
                                hideLoader();
                                new Noty({
                                    type: 'error',
                                    theme: 'bootstrap-v3',
                                    text: 'An error occurred while re-sending the fax. Please try again.',
                                    timeout: 4500,
                                    progressBar: true,
                                    closeWith: ['click', 'button']
                                }).show();
                            })
                    }
                    self.appBus().$emit('reload-data-table');
                })

            },

            addTracking(prescriptionId){
                var self = this;
                swal({
                    html: 'Add Prescription '+prescriptionId+ ' Tracking Number',
                    input: 'text',
                    showCancelButton: true,
                    confirmButtonText: 'Submit',
                    showLoaderOnConfirm: true,
                    preConfirm: (trackingNumber) => {
                        return new Promise((resolve) => {

                            if (trackingNumber.length < 4) {
                                swal.showValidationError(
                                    'Please add a valid tracking number '
                                );
                                resolve()
                            }else{
                                axios.post(laroute.route('admin.repeatprescription.update.trackingref', { prescriptionId: prescriptionId}), { trackingNumber: trackingNumber})
                                    .then(function (response) {

                                        if(typeof response.data === 'string' && response.data.indexOf("Access denied") > 0){
                                            swal.showValidationError(
                                                "You don't have permission to this functionality."
                                            );
                                        } else if (typeof response.data.error !== "undefined") {
                                            swal.showValidationError(
                                                'An error occurred while updating prescription '+prescriptionId+ '  Tracking Number'
                                            );
                                        }else{
                                            self.prescription.trackingref = trackingNumber;
                                            self.rowData.trackingref = trackingNumber;
                                        }
                                        resolve()
                                    })
                                    .catch(function (error) {
                                        swal.showValidationError(
                                            'An error occurred while updating prescription '+prescriptionId+ '  Tracking Number'
                                        );
                                        resolve()
                                    })
                            }
                        })
                    },
                    allowOutsideClick: () => !swal.isLoading()
                }).then((result) => {
                    if (result.value) {
                        swal({
                            type: 'success',
                            title: 'Prescription has been successfully updated!',
                            html: 'Submitted Tracking Number: ' + result.value
                        })
                    }
                })

            },

            resetStatusChange(){
                var self = this;
                self.statusChange = -1;
            }

        },

        watch: {

            'statusChange': function () {
                var self = this;
                //check if statusChange is null
                if(self.statusChange === 30 && this.rowData.notes.length < 1){
                    swal({
                        title: '',
                        text: 'You are required to leave a note to mark this prescription and all its items as '+self.prescriptionStatusChanger[self.statusChange].name,
                        type: 'info',
                        showCancelButton: false,
                        allowEscapeKey: false,
                        allowEnterKey: false,
                        allowOutsideClick: false
                    });
                    self.resetStatusChange();
                    return
                }

                //if status if different from null
                if(self.statusChange > -1){
                    console.log("Change to status ",self.statusChange);

                    //check if endorsement status are the same
                    var checkEndorsementStatus = 0;

                    _.forEach(self.rowData.prescriptionendorsements, function (endorsement, index) {
                        if(index > 0){
                            checkEndorsementStatus = endorsement.Status === self.rowData.prescriptionendorsements[index-1].Status ? checkEndorsementStatus : checkEndorsementStatus+1;
                        }
                    });

                    var message = checkEndorsementStatus === 0 ?
                        'Do you want to mark this prescription and all its items as '+self.prescriptionStatusChanger[self.statusChange].name+'?':
                        'Some of the items in this prescription have a different status. Do you still want to mark this prescription and all its items as '+self.prescriptionStatusChanger[self.statusChange].name+'?';

                    swal({
                        title: '',
                        text: message,
                        type: 'question',
                        showCancelButton: true,
                        allowEscapeKey: false,
                        allowEnterKey: false,
                        allowOutsideClick: false
                    }).then((result) => {
                        if (result.value) {
                            showLoader();
                            axios.post(laroute.route(self.prescriptionStatusChanger[self.statusChange].url,  {id: self.rowData.prescriptionid}))
                                .then(function (response) {
                                    hideLoader();
                                    if(typeof response.data === 'string' && response.data.indexOf("Access denied") > 0){
                                        new Noty({
                                            type: 'error',
                                            theme: 'bootstrap-v3',
                                            text: 'You don\'t have permission to this functionality.',
                                            timeout: 4500,
                                            progressBar: true,
                                            closeWith: ['click', 'button']
                                        }).show();
                                        self.resetStatusChange();
                                    } else if (typeof response.data.error !== "undefined") {
                                        new Noty({
                                            type: 'error',
                                            theme: 'bootstrap-v3',
                                            text: 'Failed to mark the prescription as '+self.prescriptionStatusChanger[self.statusChange].name,
                                            timeout: 4500,
                                            progressBar: true,
                                            closeWith: ['click', 'button']
                                        }).show();
                                        self.resetStatusChange();
                                    } else if (response.status === 200) {
                                        new Noty({
                                            type: 'success',
                                            theme: 'bootstrap-v3',
                                            text: 'The prescription has been marked as '+self.prescriptionStatusChanger[self.statusChange].name,
                                            timeout: 4500,
                                            progressBar: true,
                                            closeWith: ['click', 'button']
                                        }).show();
                                        self.resetStatusChange();
                                        self.appBus().$emit('reload-data-table');
                                    } else {
                                        new Noty({
                                            type: 'error',
                                            theme: 'bootstrap-v3',
                                            text: 'Failed to mark the prescription as '+self.prescriptionStatusChanger[self.statusChange].name,
                                            timeout: 4500,
                                            progressBar: true,
                                            closeWith: ['click', 'button']
                                        }).show();
                                        self.resetStatusChange();
                                    }
                                })
                                .catch(function (error) {
                                    hideLoader();
                                    self.resetStatusChange();
                                })
                        }else{
                            self.resetStatusChange();
                        }
                    });

                }
            },
        },

        mounted() {
            var self = this;
            this.appBus().$on("close-notes", function() {
                self.closeNotes();
            });
        }

    }
</script>

<style scoped>
    .form-control{
        height: 28px !important;
        font-size: 12px !important;
    }

</style>