<template>
    <div>
        <div class="row">
            <div class="title_right">
                <div class="col-md-4 col-sm-6 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control"  v-model="filterText" @keyup.enter="doFilter" placeholder="Search for...">
                        <span class="input-group-btn">
                      <button class="btn btn-default" type="button" @click="doFilter" style="margin-right: 0;">Go!</button>
                      <button class="btn btn-default" type="button" @click="resetFilter">Reset</button>
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "filter-bar",

        data () {
            return {
                filterText: ''
            }
        },
        methods: {
            appBus() {
                return this.$appBusEvent;
            },
            doFilter () {
                this.appBus().$emit('filter-set', this.filterText)
            },
            resetFilter () {
                this.filterText = '';
                this.appBus().$emit('filter-reset');
            }
        }
    }
</script>