<template>
    <div>
        <div>
            <div class="box-info" v-if="isLoading">
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="center-block true-center text-center"  style="margin-top: 25px;">
                                <spinner :size="55"></spinner>
                                <p>Processing Request</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="add-note" v-else-if="addNote">
                <div class="form-group"style="margin-bottom: 0;">
                    <label class="control-label">Prescription Id: <span id="prescriptionId">{{newNote.PrescriptionId}}</span></label>
                </div>
                <div class="form-group" v-if="newNote.PrescriptionNoteId > 0 "style="margin-bottom: 0;">
                    <label class="control-label">Note Id: <span id="noteId">{{newNote.PrescriptionNoteId}}</span></label>
                </div>
                <div class="form-group" v-bind:class="{'has-error': errors.has('note_text') }">
                    <label for="note_text" class="control-label">Note: </label>
                    <textarea style="min-width:100%;min-height:200px;" name="note_text" v-model="newNote.note" placeholder="Please write here..."></textarea>
                </div>
                <div class="error-check col-xs-12 no-padding">
                    <span v-show="errors.has('note_text')" class="help-block text-danger">{{ errors.first('note_text') }}</span>
                </div>
                <div class="note-footer">
                    <button class="btn btn-success pull-right" style="margin-bottom: 0;" @click.prevent="saveNotes()" v-show="addNote">Save Note</button>
                </div>
            </div>
            <div id="history-list"  v-scroll="onScroll" style="height: 400px; " v-else>
                <div v-if="prescriptionNotes && prescriptionNotes.length > 0" style=" margin-top:25px;">
                    <div v-for="(note, index) in prescriptionNotes" class="panel-group history-panel-group" :id="note.PrescriptionNoteId+'accordion1'+index" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading history-panel-heading" role="tab" :id="note.PrescriptionNoteId+'headingP'+index">
                                <a role="button" data-toggle="collapse" :data-parent="'#'+note.PrescriptionNoteId+'accordion1'+index" :href="'#'+note.PrescriptionNoteId+'collapseP'+index"
                                   aria-expanded="true" aria-controls="collapse">
                                    Date Issued:
                                    <span>{{ note.CreatedAt | date(note.CreatedAt,'dddd, MMMM Do YYYY, h:mm')}}</span>
                                    <span class='pull-right delete-note' style="padding:0 5px;cursor:pointer;" @click.prevent="deleteNotes(parseInt(note.PrescriptionNoteId))"><i class="glyphicon glyphicon-trash"></i></span>
                                    <span class='pull-right edit-note' style="padding:0 5px;cursor:pointer;"  @click.prevent="manageNotes(parseInt(note.PrescriptionNoteId),index)"><i class="glyphicon glyphicon-edit"></i></span>
                                </a>
                            </div>
                            <div :id="note.PrescriptionNoteId+'collapseP'+index" class="panel-collapse collapse" role="tabpanel"
                                 :aria-labelledby="note.PrescriptionNoteId+'headingP'+index">
                                <div class="panel-body history-panel-body">
                                    <p><strong>Prescription ID:</strong> {{ note.PrescriptionId }}</p>
                                    <p><strong>Last modified by:</strong> {{ note.userEmail ? note.userEmail: 'N/A' }} (#{{note.UserId}})</p>
                                    <p><strong>Note:</strong></p>
                                    <p>{{note.Note}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-else>
                    <p>&nbsp;</p>
                    <p class='text-center'>No notes available</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import Spinner from "vue-simple-spinner";
    Vue.use('Spinner',Spinner);

    import Vuescroll from 'vue-scroll';

    Vue.use('Vuescroll',Vuescroll);

    export default {
        name: "prescription-notes",


        props: ["prescription", "modalLoaded"],

        watch: {
            modalLoaded: function() {
                if (this.modalLoaded) {
                    console.log("Prescription Notes Modal has been loaded");
                    this.newNote.PrescriptionId = this.prescription.prescriptionid;
                    this.loadNotes(this.prescription.prescriptionid);


                    this.appBus().$on("load-prescription-notes", prescriptionId => {
                        this.loadNotes(prescriptionId);
                    });

                    this.appBus().$on("manage-prescription-notes", prescriptionId => {
                        this.manageNotes(prescriptionId);
                    });

                    this.appBus().$on("isSaveNote", function() {
                        return this.addNote;
                    });

                }
            }
        },

        updated() {
            // Fired every second, should always be true

        },

        components: {
            Spinner,
            Vuescroll,
        },

        data() {
            return {
                isLoading:true,
                moonColor: '#000000',
                moonSize: '20px',
                addNote: false,
                prescriptionNotes:null,
                newNote:{
                    PrescriptionNoteId : 0,
                    PrescriptionId: this.prescription.prescriptionid,
                    note: null,
                },
            }
        },

        methods: {
            appBus() {
                return this.$appBusEvent;
            },

            manageNotes(PrescriptionNoteId,index) {
                var self = this;
                self.isLoading = true;
                console.log(PrescriptionNoteId);
                //start new note
                if(PrescriptionNoteId === 0){
                    self.addNote = true;
                    self.newNote.PrescriptionNoteId = 0;
                    self.newNote.note = null;
                }else{
                    self.addNote = true;
                    self.newNote.PrescriptionNoteId = PrescriptionNoteId;
                    self.newNote.note = self.prescriptionNotes[index].Note ? self.prescriptionNotes[index].Note : '';
                }
                self.isLoading = false;
            },

            loadNotes(prescriptionId){
                var self = this;
                self.isLoading = true;
                self.addNote = false;
                self.newNote.PrescriptionNoteId = 0;
                self.newNote.note = null;
                console.log(prescriptionId);

                axios.post(laroute.route('admin.repeatprescription.notes.fetch'),{PrescriptionId: prescriptionId})
                        .then(function (response) {
                        if(typeof response.data === 'string' && response.data.indexOf("Access denied") > 0){
                            new Noty({
                                type: 'error',
                                theme: 'bootstrap-v3',
                                text: 'You don\'t have permission to this functionality.',
                                timeout: 4500,
                                progressBar: true,
                                closeWith: ['click', 'button']
                            }).show();
                        }else{
                            self.prescriptionNotes = response.data;
                            _.forEach(response.data, function (note, index) {
                                self.prescriptionNotes[index].userEmail = 'N/A';
                                self.userEmail(note.UserId, index)
                            });
                        }
                            self.isLoading = false;

                        })
                    .catch(function (error) {
                        console.log(error);
                        self.isLoading = false;
                    });

            },

            saveNotes(){
                var self = this;
                var url = null;
                if(self.newNote.PrescriptionNoteId === 0){
                    url = 'admin.repeatprescription.notes.create';
                }else{
                    url = 'admin.repeatprescription.notes.update';
                }

                self.isLoading = true;
                axios.post(laroute.route(url),self.newNote)
                    .then(function (response) {
                        console.log("Response:",response);
                        console.log("Response data:",response.data);
                        if(typeof response.data === 'string' && response.data.indexOf("Access denied") > 0){
                            new Noty({
                                type: 'error',
                                theme: 'bootstrap-v3',
                                text: 'You don\'t have permission to this functionality.',
                                timeout: 4500,
                                progressBar: true,
                                closeWith: ['click', 'button']
                            }).show();
                            self.isLoading = false;
                        }else{
                            new Noty({
                                type: 'success',
                                theme: 'bootstrap-v3',
                                text: 'The notes has been added the prescription.',
                                timeout: 4500,
                                progressBar: true,
                                closeWith: ['click', 'button']
                            }).show();
                            self.loadNotes(self.newNote.PrescriptionId);
                        }
                    })
                    .catch(function (error) {
                        new Noty({
                            type: 'error',
                            theme: 'bootstrap-v3',
                            text: 'There was an issue saving the prescription note.',
                            timeout: 4500,
                            progressBar: true,
                            closeWith: ['click', 'button']
                        }).show();
                        console.log(error);
                        self.isLoading = false;
                    });
            },

            deleteNotes(PrescriptionNoteId){
                var self = this;
                self.isLoading = true;
                axios.post(laroute.route('admin.repeatprescription.notes.destroy'),{PrescriptionNoteId: PrescriptionNoteId})
                    .then(function (response) {
                        if(typeof response.data === 'string' && response.data.indexOf("Access denied") > 0){
                            new Noty({
                                type: 'error',
                                theme: 'bootstrap-v3',
                                text: 'You don\'t have permission to this functionality.',
                                timeout: 4500,
                                progressBar: true,
                                closeWith: ['click', 'button']
                            }).show();
                            self.isLoading = false;
                        }else{
                            new Noty({
                                type: 'success',
                                theme: 'bootstrap-v3',
                                text: 'The notes has been deleted from the prescription.',
                                timeout: 4500,
                                progressBar: true,
                                closeWith: ['click', 'button']
                            }).show();
                            self.loadNotes(self.newNote.PrescriptionId);
                        }
                    })
                    .catch(function (error) {
                        new Noty({
                            type: 'error',
                            theme: 'bootstrap-v3',
                            text: 'There was an issue deleting the prescription note.',
                            timeout: 4500,
                            progressBar: true,
                            closeWith: ['click', 'button']
                        }).show();
                        console.log(error);
                        self.isLoading = false;
                    });

            },

            userEmail: function (userId,index){
                var self = this;
                axios.post(laroute.route('admin.repeatprescription.userbyid'),{userId: parseInt(userId)})
                    .then(function (response) {
                        self.prescriptionNotes[index].userEmail =  response.data;
                        self.prescriptionNotes[index].UserId =  parseInt(self.prescriptionNotes[index].UserId);
                    })
                    .catch(function (error) {
                        self.prescriptionNotes[index].userEmail = 'N/A';
                        self.prescriptionNotes[index].UserId =  parseInt(self.prescriptionNotes[index].UserId);
                    });
            }
        },


        filters: {
            date: function (date,result) {
                if(date === null) return 'N/A';
                return moment(date).format(result);
            },
        }

    }
</script>

<style scoped>

</style>