<template>
    <div>
        <div class="box-info" v-if="isLoading">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="center-block true-center text-center"  style="margin-top: 25px;">
                            <spinner :size="55"></spinner>
                            <p>Processing Request</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-else-if="prescriptionItems === null">
            <p>&nbsp;</p>
            <p class='text-center'>No Items available</p>
        </div>
        <div v-else>
            <h2>Items</h2>
            <table  class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Units</th>
                    <th>Status</th>
                    <!--<th>Actions</th>-->
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item, index) in prescriptionItems">
                    <td>
                        {{ index + 1 }}
                    </td>
                    <td>
                        {{ item.NM }} <br/>
                        {{ item.Directions1 }} <br/>
                        {{ item.Directions2 }}
                    </td>
                    <td>
                        {{ item.Quantity }}
                    </td>
                    <td>
                        {{ item.Units ? item.Units : 'N/A' }}
                    </td>
                    <td>
                        {{ item.endorsementstatus && item.endorsementstatus.Description ? item.endorsementstatus.Description : 'N/A' }}
                    </td>
                    <!--<td>-->
                        <!--<select class="select2_single form-control" :id="'itemStatusSelector'+item.endorsementid" @change="changeStatus($('#itemStatusSelector'+item.endorsementid).val(),item.endorsementid)"  title="Mark as">-->
                            <!--<option value="-1" disabled selected>Mark as</option>-->
                            <!--<option v-for="statusOption in itemStatusChanger" :value="statusOption.value" v-if="item.Status != statusOption.value">{{statusOption.name}}</option>-->
                        <!--</select>-->

                    <!--</td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>

    import Spinner from "vue-simple-spinner";
    Vue.use('Spinner',Spinner);


    export default {
        name: "prescription-items",


        props: ["items","prescription", "modalLoaded"],


        components: {
            Spinner,
        },

        watch: {
            modalLoaded: function() {
                if (this.modalLoaded) {
                    console.log("Prescription Items Modal has been loaded");
                    this.loadItems(this.prescription.prescriptionid);

                    this.appBus().$on("load-prescription-items", prescriptionId => {
                        this.loadItems(prescriptionId);
                    });


                }
            },
        },

        data() {
            return {
                isLoading:true,
                moonColor: '#000000',
                moonSize: '20px',

                prescriptionItems : null,
                itemStatusChanger: {
                    1: {
                        name: 'Not Signed Off',
                        url: 'repeat.endorsements.status.markAsNotSignedOff',
                        value: 1,
                    },
                    56: {
                        name: 'Rejected',
                        url: 'repeat.endorsements.status.markAsRejected',
                        value: 56,
                    },
                    2: {
                        name: 'Doctor Signed Off',
                        url: 'repeat.endorsements.status.markAsSignedOff',
                        value: 2,
                    },
                    8: {
                        name: 'Sent',
                        url: 'repeat.endorsements.status.markAsSent',
                        value: 8,
                    },
                },
            }
        },


        methods: {
            appBus() {
                return this.$appBusEvent;
            },

            loadItems(prescriptionId){
                var self = this;
                self.isLoading = true;

                axios.post(laroute.route('admin.repeatprescription.items.fetch'),{PrescriptionId: prescriptionId})
                    .then(function (response) {
                        if(typeof response.data === 'string' && response.data.indexOf("Access denied") > 0){
                            new Noty({
                                type: 'error',
                                theme: 'bootstrap-v3',
                                text: 'You don\'t have permission to this functionality.',
                                timeout: 4500,
                                progressBar: true,
                                closeWith: ['click', 'button']
                            }).show();
                        }else{
                            self.prescriptionItems = response.data;
                        }
                        self.isLoading = false;

                    })
                    .catch(function (error) {
                        console.log(error);
                        self.isLoading = false;
                    });

            },


            changeStatus(newStatus,endorsementId){
                var self = this;
                //check if statusChange is null
                if(newStatus !== -1){

                    console.log("Change endorsement: ",endorsementId);
                    console.log("to status: ",self.itemStatusChanger[newStatus].name);

                    swal({
                        title: '',
                        text: 'Do you want to mark this item as '+self.itemStatusChanger[newStatus].name+'?',
                        type: 'question',
                        showCancelButton: true,
                        allowEscapeKey: false,
                        allowEnterKey: false,
                        allowOutsideClick: false
                    }).then((result) => {
                        if (result.value) {
                            showLoader();
                            axios.post(laroute.route(self.itemStatusChanger[newStatus].url,  {id: endorsementId}))
                                .then(function (response) {
                                    hideLoader();

                                    if(typeof response.data === 'string' && response.data.indexOf("Access denied") > 0){
                                        new Noty({
                                            type: 'error',
                                            theme: 'bootstrap-v3',
                                            text: 'You don\'t have permission to this functionality.',
                                            timeout: 4500,
                                            progressBar: true,
                                            closeWith: ['click', 'button']
                                        }).show();
                                    } else if (typeof response.data.error !== "undefined") {
                                        new Noty({
                                            type: 'error',
                                            theme: 'bootstrap-v3',
                                            text: 'Failed to mark the item as '+self.itemStatusChanger[newStatus].name,
                                            timeout: 4500,
                                            progressBar: true,
                                            closeWith: ['click', 'button']
                                        }).show();
                                    } else if (response.status === 200) {
                                        new Noty({
                                            type: 'success',
                                            theme: 'bootstrap-v3',
                                            text: 'The item has been marked as '+self.itemStatusChanger[newStatus].name,
                                            timeout: 4500,
                                            progressBar: true,
                                            closeWith: ['click', 'button']
                                        }).show();
                                        self.loadItems(self.prescription.prescriptionid);
                                    } else {
                                        new Noty({
                                            type: 'error',
                                            theme: 'bootstrap-v3',
                                            text: 'Failed to mark the item as '+self.itemStatusChanger[newStatus].name,
                                            timeout: 4500,
                                            progressBar: true,
                                            closeWith: ['click', 'button']
                                        }).show();                                    }
                                })
                                .catch(function (error) {
                                    hideLoader();
                                    new Noty({
                                        type: 'error',
                                        theme: 'bootstrap-v3',
                                        text: 'Failed to mark the item as '+self.itemStatusChanger[newStatus].name,
                                        timeout: 4500,
                                        progressBar: true,
                                        closeWith: ['click', 'button']
                                    }).show();
                                })
                        }
                    });
                }

            }
        },


    }
</script>

<style scoped>

</style>