<template>
    <div>

        <div class="x_content">


            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                    <li role="presentation" class="active"><a :href="'#patient_content'+prescription.prescriptionid" :id="'patient_tab'+prescription.prescriptionid" role="tab" data-toggle="tab" aria-expanded="false">Patient</a>
                    </li>
                    <li role="presentation" class=""><a :href="'#prescription_content'+prescription.prescriptionid" role="tab" :id="'prescription_tab'+prescription.prescriptionid" data-toggle="tab" aria-expanded="false">Prescription</a>
                    </li>
                    <li role="presentation"><a :href="'#dispatch_content'+prescription.prescriptionid" role="tab" :id="'dispatch_tab'+prescription.prescriptionid" data-toggle="tab" aria-expanded="true">Dispatch Information</a>
                    </li>
                    <li role="presentation"><a :href="'#endorsements_content'+prescription.prescriptionid" role="tab" :id="'endorsements_tab'+prescription.prescriptionid" data-toggle="tab" aria-expanded="true">Items</a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" :id="'patient_content'+prescription.prescriptionid" :aria-labelledby="'patient_tab'+prescription.prescriptionid">
                        <h2>
                            Patient Details
                        </h2>
                        <table class="table table-striped" data-equalizer-watch>
                            <tbody>
                            <tr>
                                <td class="col-md-2">
                                    <strong>
                                        Patient
                                    </strong>
                                </td>
                                <td>
                                    {{ prescription.patient.PatientForename }} {{ prescription.patient.PatientSurname }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        Address
                                    </strong>
                                </td>
                                <td>
                                    {{ prescription.patient.PatientAddress1 }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        Contact Number
                                    </strong>
                                </td>
                                <td>
                                    {{ prescription.patient.PatientMobile }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        DOB
                                    </strong>
                                </td>
                                <td>
                                    {{ prescription.patient.PatientDOB }}

                                    <ul class="list-unstyled">
                                        <li><strong>Exempt: </strong> {{ prescription.patient.exemptions && prescription.patient.exemptions.IsExempt ? 'Yes' : 'No' }}</li>
                                        <li v-if="prescription.patient.exemptions && prescription.patient.exemptions.IsExempt"><strong>Exemption Reason: </strong>{{ prescription.patient.exemptions.Reason ? prescription.patient.exemptions.Reason : 'N/A' }}</li>
                                        <li v-if="prescription.patient.exemptions && prescription.patient.exemptions.IsExempt"><strong>Certificate Number (if available): </strong>
                                            {{ (null !== prescription.patient.exemptions.CertificateNumber && prescription.patient.exemptions.CertificateNumber.length > 0) ? prescription.patient.exemptions.CertificateNumber : 'N/A' }}</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        Age
                                    </strong>
                                </td>
                                <td>
                                    {{ prescription.patient.PatientDOB | age }}
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" :id="'prescription_content'+prescription.prescriptionid" :aria-labelledby="'prescription_tab'+prescription.prescriptionid">
                        <h2>
                            Prescription
                        </h2>
                        <table class="table table-striped" data-equalizer-watch>
                            <tbody>
                            <tr>
                                <td class="col-md-2">
                                    <strong>
                                        Date Prescribed
                                    </strong>
                                </td>
                                <td>
                                    {{ prescription.dateraised ? prescription.dateraised  : 'N/A' }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        Date Expired
                                    </strong>
                                </td>
                                <td>
                                    {{ prescription.dateexpiry ? prescription.dateexpiry :  'N/A' }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        Date Completed
                                    </strong>
                                </td>
                                <td>
                                    {{ prescription.datecouriercollected ? prescription.datecouriercollected : 'N/A' }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        Prescriber
                                    </strong>
                                </td>
                                <td>
                                    {{ prescription.doctorname ? prescription.doctorname : 'N/A'  }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        G.M.C.
                                    </strong>
                                </td>
                                <td>
                                    {{ prescription.doctorGMC ? prescription.doctorGMC : 'N/A' }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        SGN
                                    </strong>
                                </td>
                                <td>
                                    {{ prescription.sgncode ? prescription.sgncode : 'N/A'  }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        Prescription ID
                                    </strong>
                                </td>
                                <td>
                                    {{ prescription.prescriptionid ? prescription.prescriptionid :  'N/A'  }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        Prescription's Address
                                    </strong>
                                </td>
                                <td>
                                    {{ prescription.address }}
                                    <span class='edit-note' style="padding:0 5px;cursor:pointer;"  @click.prevent="changeAddress(prescription.prescriptionid, prescription.address)"><i class="glyphicon glyphicon-edit"></i></span>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" :id="'dispatch_content'+prescription.prescriptionid" :aria-labelledby="'dispatch_tab'+prescription.prescriptionid">
                        <h2>
                            Dispatch Information
                        </h2>
                        <table  class="table table-striped" data-equalizer-watch>
                            <tbody>
                            <tr>
                                <td class="col-md-2">
                                    <strong>
                                        Courier
                                    </strong>
                                </td>
                                <td>
                                    {{ prescription.prescourier && prescription.prescourier.couriername ? prescription.prescourier.couriername :  'N/A' }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        Collected
                                    </strong>
                                </td>
                                <td>
                                    {{ prescription.datecouriercollected ? prescription.datecouriercollected : 'N/A' }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        Delivered
                                    </strong>
                                </td>
                                <td>
                                    {{ prescription.datecourierdelivered ? prescription.datecourierdelivered  : 'N/A' }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        Reference
                                    </strong>
                                </td>
                                <td>
                                    {{ prescription.trackingref ? prescription.trackingref : 'N/A' }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        Status
                                    </strong>
                                </td>
                                <td>
                                    {{ prescription.prescstatus.Description ? prescription.prescstatus.Description : 'N/A' }}
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" :id="'endorsements_content'+prescription.prescriptionid" :aria-labelledby="'endorsements_tab'+prescription.prescriptionid">
                        <h2>Items</h2>
                        <table  class="table table-striped">
                            <thead>
                            <tr>
                                <th class="col-md-2">#</th>
                                <th class="col-md-8">Item</th>
                                <th class="col-md-1">Quantity</th>
                                <th class="col-md-1">Units</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(item, index) in prescription.prescriptionendorsements">
                                <td>
                                    {{ index + 1 }}
                                </td>
                                <td>
                                    {{ item.NM }} <br/>
                                    {{ item.Directions1 }} <br/>
                                    {{ item.Directions2 }}
                                </td>
                                <td>
                                    {{ item.Quantity }}
                                </td>
                                <td>
                                    {{ item.Units ? item.Units : 'N/A' }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        name: "prescription-details",


        props: ["prescription", "modalLoaded"],

        data() {
            return {
            }
        },

        methods: {
            changeAddress(prescriptionId,address){
                var self = this;
                swal({
                    html: 'Manage Prescription '+prescriptionId+ ' Address',
                    input: 'text',
                    inputValue: address,
                    showCancelButton: true,
                    confirmButtonText: 'Submit',
                    showLoaderOnConfirm: true,
                    preConfirm: (address) => {
                        return new Promise((resolve) => {

                            if (address.length < 1) {
                                swal.showValidationError(
                                    'The field cannot be empty '
                                );
                                resolve()
                            }else{
                                axios.post(laroute.route('admin.private.prescription.updateaddress', { prescriptionId: prescriptionId}), { address: address})
                                    .then(function (response) {

                                        if(typeof response.data === 'string' && response.data.indexOf("Access denied") > 0){
                                            swal.showValidationError(
                                                "You don't have permission to this functionality."
                                            );
                                        } else if (typeof response.data.error !== "undefined") {
                                            swal.showValidationError(
                                                'An error occurred while updating prescription '+prescriptionId+ '  Address'
                                            );
                                        }else{
                                            self.prescription.address = address;
                                        }
                                        resolve()
                                    })
                                    .catch(function (error) {
                                        swal.showValidationError(
                                            'An error occurred while updating prescription '+prescriptionId+ '  Address'
                                        );
                                        resolve()
                                    })
                            }
                        })
                    },
                    allowOutsideClick: () => !swal.isLoading()
                }).then((result) => {
                    if (result.value) {
                        swal({
                            type: 'success',
                            title: 'Prescription has been successfully updated!',
                            html: 'Submitted Address: ' + result.value
                        })
                    }
                })

            }
        },


        filters: {
            moment: function (date) {
                if(date === null) return 'N/A';
                return moment(date).format('d/m/Y');
            },
            age: function(dob) {
                var userDob = moment(dob,'DD/MM/YYYY');
                var today = moment();
                return Math.floor((today-userDob) / (365.25 * 24 * 60 * 60 * 1000));

            },
        }

    }
</script>

<style scoped>

</style>