<template>
    <div>
        <ul class="list-inline">
            <li v-if="rowData.patient.PatientAddress5 && rowData.patient.AlternateAddress5 && rowData.patient.PatientAddress5 !== rowData.patient.AlternateAddress5">
                <popover :title="primaryPopoverTitle"
                         :placement="primaryPopoverPlacement"
                         :auto-placement="primaryPopoverAutoPlacement"
                         :trigger="primaryPopoverTrigger"
                         :enable="enablePrimaryPopover"
                         v-model="primaryPopover[rowIndex]"
                         ref="popoverPrimary">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-home fa-stack-1x"></i>
                      <i class="fa fa-ban fa-stack-2x text-danger"></i>
                    </span>
                    <div slot="popover">
                        <h6><strong>Home Address</strong></h6>
                        <ul class='list-unstyled'>
                            <li>{{ rowData.patient.PatientAddress1 ? rowData.patient.PatientAddress1 : ''  }}</li>
                            <li>{{ rowData.patient.PatientAddress2 ? rowData.patient.PatientAddress2 : ''  }}</li>
                            <li>{{ rowData.patient.PatientAddress3 ? rowData.patient.PatientAddress3 : ''  }}</li>
                            <li>{{ rowData.patient.PatientAddress4 ? rowData.patient.PatientAddress4 : ''  }}</li>
                            <li>{{ rowData.patient.PatientAddress5 ? rowData.patient.PatientAddress5 : ''  }}</li>
                        </ul>
                        <h6><strong>Delivery Address</strong></h6>
                        <ul class='list-unstyled'>
                            <li>{{ rowData.patient.AlternateAddress1 ?  rowData.patient.AlternateAddress1 : ''  }}</li>
                            <li>{{ rowData.patient.AlternateAddress2 ?  rowData.patient.AlternateAddress2 : ''  }}</li>
                            <li>{{ rowData.patient.AlternateAddress3 ?  rowData.patient.AlternateAddress3 : ''  }}</li>
                            <li>{{ rowData.patient.AlternateAddress4 ?  rowData.patient.AlternateAddress4 : ''  }}</li>
                            <li>{{ rowData.patient.AlternateAddress5 ?  rowData.patient.AlternateAddress5 : ''  }}</li>
                        </ul>
                    </div>
                </popover>
            </li>
            <li v-else>
                <popover :title="primaryPopoverTitle"
                         :placement="primaryPopoverPlacement"
                         :auto-placement="primaryPopoverAutoPlacement"
                         :trigger="primaryPopoverTrigger"
                         :enable="enablePrimaryPopover"
                         v-model="primaryPopover[rowIndex]"
                         ref="popoverPrimary">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x text-success"></i>
                      <i class="fa fa-home fa-stack-1x" style="color: #ffffff !important"></i>
                    </span>
                    <div slot="popover">
                        <h6><strong>Home Address</strong></h6>
                        <ul class='list-unstyled'>
                            <li>{{ rowData.patient.PatientAddress1 ? rowData.patient.PatientAddress1 : ''  }}</li>
                            <li>{{ rowData.patient.PatientAddress2 ? rowData.patient.PatientAddress2 : ''  }}</li>
                            <li>{{ rowData.patient.PatientAddress3 ? rowData.patient.PatientAddress3 : ''  }}</li>
                            <li>{{ rowData.patient.PatientAddress4 ? rowData.patient.PatientAddress4 : ''  }}</li>
                            <li>{{ rowData.patient.PatientAddress5 ? rowData.patient.PatientAddress5 : ''  }}</li>
                        </ul>
                        <h6><strong>Delivery Address</strong></h6>
                        <ul class='list-unstyled'>
                            <li>{{ rowData.patient.AlternateAddress1 ?  rowData.patient.AlternateAddress1 : ''  }}</li>
                            <li>{{ rowData.patient.AlternateAddress2 ?  rowData.patient.AlternateAddress2 : ''  }}</li>
                            <li>{{ rowData.patient.AlternateAddress3 ?  rowData.patient.AlternateAddress3 : ''  }}</li>
                            <li>{{ rowData.patient.AlternateAddress4 ?  rowData.patient.AlternateAddress4 : ''  }}</li>
                            <li>{{ rowData.patient.AlternateAddress5 ?  rowData.patient.AlternateAddress5 : ''  }}</li>
                        </ul>
                    </div>
                </popover>
            </li>
            <li>
                <button class="btn btn-primary btn-xs" @click.prevent="showDetailsModal"><i class="fa fa-eye"></i> View</button>
            </li>
            <li>
                <button class="btn btn-primary btn-xs" @click.prevent="showItemsModal" :disabled="!(rowData.prescriptionendorsements && rowData.prescriptionendorsements.length > 0)"><i class="fa fa-clipboard"></i> Items ({{rowData.prescriptionendorsements ? rowData.prescriptionendorsements.length : '0'}})</button>
            </li>
            <li>
                <button class="btn btn-primary btn-xs" @click.prevent="showNotesModal"><i class="fa fa-comments"></i> Notes ({{rowData.notes ? rowData.notes.length : '0'}})</button>
            </li>
        </ul>
        <modal v-model="itemsModalOpen"
               size="lg"
               :keyboard="enableModalKeyboard"
               :backdrop="enableModalBackdrop">
            <div slot="title">Prescription Items</div>
            <div class="items wrapper" v-bar="{
                    preventParentScroll: true,
                    scrollThrottle: 30,
                }">
                <prescription-items :items="rowData.prescriptionendorsements"  :prescription="rowData"
                                :modalLoaded="itemsModalOpen"></prescription-items>
            </div>
            <div slot="footer">
                <button class="btn btn-danger" @click.prevent="closeItemsModal">Close</button>
            </div>
        </modal>
        <modal v-model="detailsModalOpen"
               size="lg"
               :keyboard="enableModalKeyboard"
               :backdrop="enableModalBackdrop">
            <div slot="title">Prescription Details</div>
            <div class="items wrapper" v-bar="{
                    preventParentScroll: true,
                    scrollThrottle: 30,
                }">
                <prescription-details :prescription="rowData"
                                    :modalLoaded="detailsModalOpen"></prescription-details>
            </div>
            <div slot="footer">
                <button class="btn btn-danger" @click.prevent="closeDetailsModal">Close</button>

            </div>
        </modal>
        <modal v-model="notesModalOpen"
               size="lg"
               :keyboard="enableModalKeyboard"
               :backdrop="enableModalBackdrop">
            <div slot="title">Prescription Notes</div>
            <div class="items wrapper" v-bar="{
                    preventParentScroll: true,
                    scrollThrottle: 30,
                }">
                <prescription-notes :notes="rowData.notes" :prescription="rowData"
                                      :modalLoaded="notesModalOpen"></prescription-notes>
            </div>
            <div slot="footer">
                <button class="btn btn-default" style="margin-bottom: 0;" @click.prevent="getNotes(rowData.prescriptionid)">Show Notes</button>
                <button class="btn btn-primary" style="margin-bottom: 0;" @click.prevent="manageNote(0)" >Add Note</button>
                <button class="btn btn-danger" style="margin-bottom: 0;" @click.prevent="closeNotesModal">Close</button>
            </div>
        </modal>
    </div>
</template>

<script>
    import {Popover} from 'uiv';
    Vue.component('popover', Popover);

    import Spinner from "vue-simple-spinner";
    Vue.use('Spinner',Spinner);

    import Vuescroll from 'vue-scroll';
    Vue.use('Vuescroll',Vuescroll);

    import {Modal} from 'uiv';
    Vue.component('modal', Modal);

    import PrescriptionItems from './PrescriptionItems.vue';
    Vue.component('prescription-items', PrescriptionItems);

    import PrescriptionDetails from './PrescriptionDetails.vue';
    Vue.component('prescription-details', PrescriptionDetails);

    import PrescriptionNotes from './PrescriptionNotes.vue';
    Vue.component('prescription-notes', PrescriptionNotes);



    export default {
        name: "prescription-list-actions",

        props: {
            rowData: {
                type: Object,
                required: true
            },
            rowIndex: {
                type: Number
            }
        },

        components: {
            Spinner,
            Vuescroll
        },

        data() {
            return {
                primaryPopover: [],
                enablePrimaryPopover: true,
                primaryPopoverPlacement: 'bottom',
                primaryPopoverAutoPlacement: true,
                primaryPopoverTrigger: 'hover',
                primaryPopoverTitle: 'Address Details',
                items:this.rowData.prescriptionendorsements,
                prescription:this.rowData,
                itemsModalOpen: false,
                detailsModalOpen: false,
                notesModalOpen: false,

                enableModalKeyboard: false,
                enableModalBackdrop: false,

                statusChange: -1,
                prescriptionStatusChanger: {
                    1: {
                        name: 'Not Signed Off',
                        url: 'repeat.status.markAsNotSignedOff',
                        value: 1,
                    },
                    56: {
                        name: 'Rejected',
                        url: 'repeat.status.markAsRejected',
                        value: 56,
                    },
                    2: {
                        name: 'Doctor Signed Off',
                        url: 'repeat.status.markAsSignedOff',
                        value: 2,
                    },
                    8: {
                        name: 'Sent',
                        url: 'repeat.status.markAsSent',
                        value: 8,
                    },
                },
            }
        },

        methods: {
            appBus() {
                return this.$appBusEvent;
            },

            getQuickView(data) {

            },

            getAppointment(data) {
                console.log(data);
                this.appBus().$emit('load-appointment-details', data)
            },

            getNotes(prescriptionid){
                console.log(prescriptionid);
                this.appBus().$emit('load-prescription-notes', prescriptionid)
            },

            manageNote(prescriptionid){
                console.log(prescriptionid);
                this.appBus().$emit('manage-prescription-notes', prescriptionid)
            },

            isSaveNote(){
                return this.appBus().$emit('isSaveNote')
            },

            showItemsModal(){
                var self = this;
                self.itemsModalOpen = true;
            },
            closeItemsModal() {
                var self = this;
                //refresh table data
                self.appBus().$emit('refresh-data-table');
                self.itemsModalOpen = false;
            },

            showDetailsModal(){
                var self = this;
                self.detailsModalOpen = true;
            },
            closeDetailsModal() {
                var self = this;
                //refresh table data
                self.appBus().$emit('refresh-data-table');
                self.detailsModalOpen = false;
            },

            showNotesModal(){
                var self = this;
                self.notesModalOpen = true;
            },

            closeNotesModal() {
                var self = this;
                //refresh table data
                self.appBus().$emit('refresh-data-table');
                self.notesModalOpen = false;
            },
        },


        watch: {

            'statusChange': function () {
                var self = this;
                //check if statusChange is null
                if(self.statusChange !== -1){
                    console.log("Change to status ",self.statusChange);

                    //check if endorsement status are the same
                    var checkEndorsementStatus = 0;

                    _.forEach(self.rowData.prescriptionendorsements, function (endorsement, index) {
                        if(index > 0){
                            checkEndorsementStatus = endorsement.Status === self.rowData.prescriptionendorsements[index-1].Status ? checkEndorsementStatus : checkEndorsementStatus+1;
                        }
                    });

                    var message = checkEndorsementStatus === 0 ?
                        'Do you want to mark this prescription and all its items as '+self.prescriptionStatusChanger[self.statusChange].name+'?':
                        'Some of the items in this prescription have a different status. Do you still want to mark this prescription and all its items as '+self.prescriptionStatusChanger[self.statusChange].name+'?';

                    swal({
                        title: '',
                        text: message,
                        type: 'question',
                        showCancelButton: true,
                        allowEscapeKey: false,
                        allowEnterKey: false,
                        allowOutsideClick: false
                    }).then((result) => {
                        if (result.value) {
                            showLoader();
                            axios.post(laroute.route(self.prescriptionStatusChanger[self.statusChange].url,  {id: self.rowData.prescriptionid}))
                                .then(function (response) {
                                    hideLoader();

                                    if(typeof response.data === 'string' && response.data.indexOf("Access denied") > 0){
                                        new Noty({
                                            type: 'error',
                                            theme: 'bootstrap-v3',
                                            text: 'You don\'t have permission to this functionality.',
                                            timeout: 4500,
                                            progressBar: true,
                                            closeWith: ['click', 'button']
                                        }).show();
                                    } else if (typeof response.data.error !== "undefined") {
                                        new Noty({
                                            type: 'error',
                                            theme: 'bootstrap-v3',
                                            text: 'Failed to mark the prescription as '+self.prescriptionStatusChanger[self.statusChange].name,
                                            timeout: 4500,
                                            progressBar: true,
                                            closeWith: ['click', 'button']
                                        }).show();
                                    } else if (response.status === 200) {
                                        new Noty({
                                            type: 'success',
                                            theme: 'bootstrap-v3',
                                            text: 'The prescription has been marked as '+self.prescriptionStatusChanger[self.statusChange].name,
                                            timeout: 4500,
                                            progressBar: true,
                                            closeWith: ['click', 'button']
                                        }).show();
                                        Vue.nextTick( () => self.$parent.reload() )
                                    } else {
                                        new Noty({
                                            type: 'error',
                                            theme: 'bootstrap-v3',
                                            text: 'Failed to mark the prescription as '+self.prescriptionStatusChanger[self.statusChange].name,
                                            timeout: 4500,
                                            progressBar: true,
                                            closeWith: ['click', 'button']
                                        }).show();                                    }
                                    self.statusChange = -1;
                                })
                                .catch(function (error) {
                                    hideLoader();
                                    new Noty({
                                        type: 'error',
                                        theme: 'bootstrap-v3',
                                        text: 'Failed to mark the prescription as '+self.prescriptionStatusChanger[self.statusChange].name,
                                        timeout: 4500,
                                        progressBar: true,
                                        closeWith: ['click', 'button']
                                    }).show();
                                    self.statusChange = -1;
                                })
                        }
                    });
                }
            },
        },

    }
</script>

<style scoped>
    .form-control{
        height: 28px !important;
        font-size: 12px !important;
    }

</style>