<template>
    <div>
        <div class="box-info" v-if="$parent.isLoadingMain">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="center-block true-center text-center"  style="margin-top: 25px;">
                            <spinner :size="55"></spinner>
                            <p>Loading Prescription Data</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-info" v-else-if="Object.keys(prescription).length === 0 ">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="center-block true-center text-center"  style="margin-top: 25px;">
                            <p>No Prescription Found</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-info" v-else-if="Object.keys(prescription).length > 0">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Patient Information</h2>
                        <table class="table table-striped table-bordered" data-equalizer-watch>
                            <tbody>
                            <tr>
                                <td class="col-md-2">
                                    <strong>
                                        Patient
                                    </strong>
                                </td>
                                <td>
                                    {{ prescription.patient.name }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        Address
                                    </strong>
                                </td>
                                <td>
                                    {{ prescription.address }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        Contact Number
                                    </strong>
                                </td>
                                <td>
                                    {{
                                    prescription.patient.contact_number && prescription.patient.contact_number !== null ? prescription.patient.contact_number : 'N/A'
                                    }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        DOB
                                    </strong>
                                </td>
                                <td>
                                    {{ prescription.patient.dob | moment }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        Age
                                    </strong>
                                </td>
                                <td>
                                    {{ prescription.patient.dob | age }}
                                </td>
                            </tr>

                            </tbody>
                        </table>


                        <h2>Prescription</h2>
                        <table class="table table-striped table-bordered" data-equalizer-watch>
                            <tbody>
                            <tr>
                                <td class="col-md-2">
                                    <strong>
                                        Date Prescribed
                                    </strong>
                                </td>
                                <td>
                                    {{ prescription.raised_at ? prescription.raised_at : 'N/A' }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        Date Expired
                                    </strong>
                                </td>
                                <td>
                                    {{ prescription.expired_at ? prescription.expired_at : 'N/A' }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        Date Completed
                                    </strong>
                                </td>
                                <td>
                                    {{ prescription.completed_at ? prescription.completed_at : 'N/A' }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        Prescriber
                                    </strong>
                                </td>
                                <td>
                                    {{ prescription.doctor_name ? prescription.doctor_name : 'N/A' }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        G.M.C.
                                    </strong>
                                </td>
                                <td>
                                    {{ prescription.doctor_gmc  ?  prescription.doctor_gmc : 'N/A' }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        SGN
                                    </strong>
                                </td>
                                <td>
                                    {{ prescription.sgncode  ? prescription.sgncode : 'N/A' }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        Prescription ID
                                    </strong>
                                </td>
                                <td>
                                    {{ prescription.id }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        Prescription Status
                                    </strong>
                                </td>
                                <td>
                                    {{ prescription.statusText ? prescription.statusText : 'N/A' }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        Prescriber's Address
                                    </strong>
                                </td>
                                <td>
                                    {{ prescription.patient.address }}
                                </td>
                            </tr>

                            </tbody>
                        </table>


                        <h2>
                            Dispatch
                        </h2>
                        <table  class="table table-striped table-bordered" data-equalizer-watch>
                            <tbody>
                            <tr>
                                <td class="col-md-2">
                                    <strong>
                                        Courier
                                    </strong>
                                </td>
                                <td>
                                    {{ prescription.courier_name }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        Collected
                                    </strong>
                                </td>
                                <td>
                                    {{ prescription.collected_at ? prescription.collected_at : 'N/A'}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        Delivered
                                    </strong>
                                </td>
                                <td>
                                    {{ prescription.delivered_at ? prescription.delivered_at : 'N/A' }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        Ref
                                    </strong>
                                </td>
                                <td>
                                    {{ prescription.tracking_ref ? prescription.tracking_ref : 'N/A' }}
                                </td>
                            </tr>

                            </tbody>
                        </table>


                        <h2>Endorsements</h2>
                        <table  class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th class="col-md-2">#</th>
                                <th class="col-md-5">Item</th>
                                <th class="col-md-1">DNPID</th>
                                <th class="col-md-3">Quantity</th>
                                <th class="col-md-1">Units</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(endorsement, index) in prescription.endorsements">
                                <td>
                                    {{ index + 1 }}
                                </td>
                                <td>
                                    {{ endorsement.drug_name }} <br/>
                                    {{ endorsement.direction_1 }} <br/>
                                    {{ endorsement.direction_2 }}
                                </td>
                                <td>
                                    {{ endorsement.dnip }}
                                </td>
                                <td>
                                    {{ endorsement.quantity }}
                                </td>
                                <td>
                                    {{ endorsement.units }}
                                </td>
                            </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Spinner from "vue-simple-spinner";
    Vue.use('Spinner',Spinner);

    export default {
        name: "viewPrescription",

        components: {
            Spinner
        },

        beforeRouteEnter(to, from, next) {
            next(vm => {
                vm.$parent.isLoadingMain = true;
                vm.fetchPrescription();
            });
        },

        data: function () {
            return {
                prescriptionId: null,
                prescription: {},
            }
        },

        methods: {
            fetchPrescription() {
                var self = this;
                self.prescriptionId = self.$route.params.id;
                axios.get(laroute.route('admin.private.prescription.get'), { params: { id: self.prescriptionId}})
                    .then(function (response) {
                        console.log(response);
                        self.prescription = response.data;
                        self.$parent.isLoadingMain = false;

                    })
                    .catch(function (error) {
                        console.log(error);
                        self.$parent.isLoadingMain = false;
                    });

            },

        },

        filters: {
            moment: function (date) {
                if(date === null) return 'N/A';
                return moment(date).format('d/m/Y');
            },
            age: function(dob) {
                var userDob = moment(dob);
                var today = moment();
                return Math.floor((today-userDob) / (365.25 * 24 * 60 * 60 * 1000));

            },
        }
    }
</script>

<style scoped>

</style>