<template>
    <div>
        {{ count }}
    </div>
</template>

<script>
    export default {
        name: "user-counter",
        data() {
            return {
                count: 0
            }
        },
        mounted() {
            this.listen();
        },
        methods: {
            listen() {
                console.log('Listening to users online....')
                Echo.join('counter')
                    .here(users => {
                        console.log('List of users: ', users);
                        return this.count = users.length;
                    })
                    .joining(user => this.count++)
                    .leaving(user => this.count--);
            }
        }
    }
</script>

<style scoped>

</style>