
.chat-window{
    bottom:0;
    margin-left:10px;
}
.chat-window > div > .panel{
    border-radius: 5px 5px 0 0;
}
.icon_minim{
    padding:2px 10px;
}
.msg_container_base, .msg_closed_container_base {
    background: #ffffff;
    margin: 0;
    padding: 0 10px 10px;
    height: 64vh;
    overflow-x:hidden;
}

.top-bar {
    background: #666;
    color: white;
    padding: 14px;
    position: relative;
    overflow: hidden;
}
.msg_receive{
    padding-left:0;
    margin-left:0;
    background-color: #f5f5f5 !important;
    color: #000000;
}
.msg_sent{
    padding-bottom:20px !important;
    margin-right:0;
    background-color: #337ab7 !important;
    color: #ffffff;
}
.messages {
    background: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    max-width:100%;
}
.messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
}
.messages > time {
    font-size: 11px;
    color: #ccc;
}
.msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}
.avatar > img {
    display: block;
    width: 100%;
}
.avatar {
    position: relative;
}
.base_receive > .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: -3px;
    width: 0;
    height: 0;
    border: 7px solid #f5f5f5;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.base_sent {
    justify-content: flex-end;
    align-items: flex-end;
}
.base_sent > .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -3px;
    width: 0;
    height: 0;
    border: 7px solid #337ab7;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
}

.msg_sent > time {
    float: right;
}

.msg_sent:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    right: -15px;
    top: 77px;
}



.msg_container_base::-webkit-scrollbar-track, .msg_closed_container_base::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar, .msg_closed_container_base::-webkit-scrollbar
{
    width: 5px;
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb, .msg_closed_container_base::-webkit-scrollbar
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.btn-group.dropup{
    position:fixed;
    left:0px;
    bottom:0;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.conversations-list {
    height: 71vh;
    max-height: 71vh;
}

/* ==========  Card  ========== */
h2.pmd-card-title-text{ font-size:1.6rem; font-weight:bold; margin-bottom:2px;}
h3.pmd-card-title-text{ font-size:1.3rem; font-weight:400; margin-bottom:2px;}


/* ==========  Accordion  ========== */
.panel-group .panel-title a:focus { outline:none !important;}
.panel-group.pmd-accordion .panel { border-radius:0; margin:16px 0; border:none; position:relative; transition:all ease-in-out 0.3s; -moz-transition:all ease-in-out 0.3s; -ms-transition:all ease-in-out 0.3s; -o-transition:all ease-in-out 0.3s; -webkit-transition:all ease-in-out 0.3s;   box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12); -moz- box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12); -ms- box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12); -o- box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12); -webkit- box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12);}
.panel-group.pmd-accordion .panel .panel-body { border:none; }
.panel-group.pmd-accordion .panel > .panel-heading + .panel-collapse > .panel-body { border:none; }
.panel-group.pmd-accordion .panel > .panel-heading { background:none; padding:0;}
.panel-group.pmd-accordion .panel.panel-warning > .panel-heading{ background-color: #fcf8e3; border-color: #faebcc; color: #8a6d3b;}
.panel-group.pmd-accordion .panel.panel-danger > .panel-heading{ background-color: #f2dede; border-color: #ebccd1; color: #a94442;}
.panel-group.pmd-accordion .panel.panel-success > .panel-heading{ background-color: #dff0d8; border-color: #d6e9c6; color: #3c763d;}
.panel-group.pmd-accordion .panel.panel-info > .panel-heading{  background-color: #d9edf7; border-color: #bce8f1; color: #31708f;}

.panel-group.pmd-accordion .panel > .panel-heading a{ padding:12px; line-height:24px; display:block;}
/* Expanded accordian css*/
.panel-group.pmd-accordion-inbox .panel.active {  margin: 8px -8px !important;  box-shadow:0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.12); -moz-box-shadow:0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.12); -ms-box-shadow:0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.12); -o-box-shadow:0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.12);  -webkit-box-shadow:0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
/* actie arrow effect css */
.pmd-accordion-icon-left{ float:left; padding-right:32px;}
.pmd-accordion-icon-right{ float:right; padding-left:32px;}
.pmd-accordion-arrow{ float:right;}
.panel-group .panel.active .material-icons.pmd-accordion-arrow { transform:rotate(180deg); -moz-transform:rotate(180deg);-ms-transform:rotate(180deg); -o-transform:rotate(180deg); -webkit-transform:rotate(180deg);}
/* Material Accordion css */
.panel-group.pmd-accordion-nospace .panel {margin:0;}
.panel-group.pmd-accordion .list-group-item.active, .panel-group.pmd-accordion .list-group-item.active:hover, .panel-group.pmd-accordion .list-group-item.active:focus { background: #ffffff; color: #4d575d;}
@media screen and (max-width:767px) {
    .panel-group.pmd-accordion-inbox .panel.active { margin:15px -10px !important; }
}

.pmd-card:hover {
    background-color: #eee;
    cursor: pointer;
}

.bubble
{
    position: relative;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    max-width:100%;
}

.bubble:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 11px 0 11px 15px;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    right: -15px;
    top: 165px;
}

.bubble:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 11px 15px 11px 0;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    left: -15px;
    top: 165px;
}

.btn-nav-blue {
    background-color: #1D9DD8;
    color: #ffffff;
}

.btn-nav-blue:hover {
    background-color: #2f80bd;
    color: #ffffff;
}

.pmd-card-open-active {
    background-color: #d9edf7;
}

.panel-footer-basic, .panel-footer-basic-closed {
    background-color: #ffffff;
    border-top: none;
    height: 100px;
}


.panel > .list-group
{
    margin-bottom: 0;
}
.panel > .list-group .list-group-item
{
    border-width: 1px 0;
}
.panel > .list-group .list-group-item:first-child
{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.panel > .list-group .list-group-item:last-child
{
    border-bottom: 0;
}
.panel-heading + .list-group .list-group-item:first-child
{
    border-top-width: 0;
}
.panel-default .list-group-item.active
{
    color: #000;
    background-color: #DDD;
    border-color: #DDD;
}
.panel-primary .list-group-item.active
{
    color: #FFF;
    background-color: #428BCA;
    border-color: #428BCA;
}
.panel-success .list-group-item.active
{
    color: #3C763D;
    background-color: #DFF0D8;
    border-color: #D6E9C6;
}
.panel-info .list-group-item.active
{
    color: #31708F;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
}
.panel-warning .list-group-item.active
{
    color: #8A6D3B;
    background-color: #FCF8E3;
    border-color: #FAEBCC;
}
.panel-danger .list-group-item.active
{
    color: #A94442;
    background-color: #F2DEDE;
    border-color: #EBCCD1;
}
.panel a.list-group-item.active:hover, a.list-group-item.active:focus
{
    color: #000;
    background-color: #DDD;
    border-color: #DDD;
}
