<template>
    <!-- Enter HTML Code Here -->
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title"><strong>Active Conversations</strong>  <span class="pull-right"><pulse-loader :loading="isRefreshing" :size="spinnerSize"></pulse-loader></span></h3>
        </div>
        <div  class="list-group chat-lists" v-show="isLoading">
            <div class="row">
                <div class="col-md-12">
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <spinner :size="40"></spinner>
                </div>
            </div>
        </div>
        <div  class="list-group chat-lists" v-if="!isLoading && openConversations.length === 0">
            <div class="row">
                <div class="col-md-12 text-center" style="margin-top: 30px;">
                    <i class="material-icons md-dark pmd-sm pmd-accordion-arrow md-48" style="font-size: 56px">chat</i>
                    <p><strong>You have no open conversations</strong></p>
                </div>
            </div>
        </div>
        <div id="openChats" class="list-group chat-lists" v-if="!isLoading && openConversations.length !== 0">
            <a href="javascript:void(0)"
               class="list-group-item"
               :style="isUnreadChat(conversation)"
               v-for="(conversation, index) in openConversations"
               :conversation="conversation"
               :key="conversation.chatConversationId"
               :index="index"
               @click="fetchConversation({conversation: conversation, index: index, type: 'open'})">
                <div class="media">
                    <div class="media-left">
                        <!--<img class="media-object img-circle" src="/themes/gentella-admin/assets/img/avatar-tiny.jpg" alt="..." width="40">-->
                        <avatar :username="conversation.userFullName"
                                :size="40"
                                :src="conversation.userAvatar"
                        ></avatar>
                    </div>
                    <div class="media-body chat-message">
                        <p>{{ conversation.summary | truncate(40) }}</p>
                        <p class="small text-muted text-right"><span v-html="displayChatType(conversation.chatType)"></span> - {{ conversation.startTime | formatDate('DD/MM/YYYY @ HH:mm') }}</p>
                        <p class="small text-muted text-right"><strong>Patient Id:</strong> {{ conversation.patientId }}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</template>

<script type="text/babel">
    import Avatar from 'vue-avatar';
    //import { empty } from 'vue-computed-helpers';
    import Spinner from 'vue-simple-spinner';
    //import { truncate } from 'vue2-filters';
    import PulseLoader from 'vue-spinner/src/PulseLoader.vue';
    import collect from 'collect.js';

    export default {
        mounted: function () {
            console.log('Component mounted');
        },

        created() {
            var self = this;
            self.getOpenConversations();

            self.appBus().$on('refresh-open-conversations', function() {
                self.getOpenConversations(true);
            });

            self.appBus().$on('add-to-open-conversations', function(conversation) {
                console.log('New Open Conversation: ', conversation);
                self.isRefreshing = true;
                self.openConversations.push(conversation);
                self.isRefreshing = false;
                self.$('#openChats').niceScroll();

                self.fetchConversation(conversation);

                Vue.nextTick(function() {
                    self.getOpenConversations(true);
                });
            });
        },

        components: {
            Avatar,
            Spinner,
            PulseLoader
        },

        data() {
            return {
                spinnerSize: '5px',
                isLoading: false,
                isRefreshing: false,
                openConversations: []
            }
        },

        methods: {
            appBus() {
                return this.$appBusEvent;
            },

            fetchConversation(conversationData) {
                let self = this;
                self.appBus().$emit('load-conversation', { type: conversationData.type , conversation: conversationData.conversation });
            },

            displayChatType(chatType) {
                switch(chatType) {
                    case 1:
                        return '<span class="chat-triage"><strong>Triage</strong></span>';
                    case 2:
                        return '<span class="chat-now-pharmacy"><strong>Pharmacy</strong></span>';
                    case 3:
                        return '<span class="chat-support"><strong>Support</strong></span>';
                }
            },

            getOpenConversations(refreshMode) {
                var self = this;
                if (typeof refreshMode === 'undefined') {
                    self.isLoading = true;
                } else {
                    self.isRefreshing = true;
                }
                axios.get(laroute.route('refresh.open.conversations'))

                    .then(function (response) {
                        if (typeof refreshMode === 'undefined') {
                            self.isLoading = false;
                        } else {
                            self.isRefreshing = false;
                        }

                        self.openConversations = response.data;

                        Vue.nextTick(function () {
                            self.$('#openChats').niceScroll();
                        });

                    })
                    .catch(function (error) {

                        if (typeof refreshMode === 'undefined') {
                            self.isLoading = false;
                        } else {
                            self.isRefreshing = false;
                        }

                    })
            },

            isUnreadChat(conversation) {
                if( (conversation.lastResponseUserProxyType === 'User')
                    || (conversation.lastResponseUserProxyType === 'Robot' && conversation.summary.indexOf("will get back") > 0)){
                    return 'background-color:#f2dede !important';
                } else {
                    return '';
                }
            }
        },

        filters: {
            formatDate(value, format = 'YYYY-MM-DD HH:MM') {
                return moment(value).format(format);
            }
        },

        computed: {
            hasOpenConversations() {
                return this.openConversations.length !== 0;
            }
        }
    }
</script>

<style>
    .text-bold {
        font-weight: bold;
    }
</style>