<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <!--<spinner></spinner>-->
                <tabs v-model="activeTab" nav-style="pills">
                    <tab header="Active Chats">
                        <div class="row">
                            <div class="col-md-3">
                                <waiting-conversations></waiting-conversations>
                                <active-conversations :activeId="activeOpenChat"></active-conversations>
                            </div>
                            <div class="col-md-9">

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><i class="fa fa-comments fa-fw"></i>
                                            <strong>Chat</strong> <span class="pull-right"><pulse-loader
                                                    :loading="isRefreshing" :size="spinnerSize"></pulse-loader></span>
                                        </h3>
                                    </div>
                                    <div id="chat-messages" class="panel-body chat-message-body">
                                        <div v-if="isLoading">
                                            <spinner :size="55" message="Loading Messages"></spinner>
                                        </div>
                                        <div id="chat-messages-list" v-if="!isLoading && activeOpenChat">
                                            <view-conversation :chatMessages="chatMessages"></view-conversation>
                                        </div>
                                        <div v-if="!isLoading && !activeOpenChat">
                                            <img src="/themes/gentella-admin/assets/img/chat_placeholder.png"
                                                 style="width: 100%;"/>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <div class="input-group"
                                             v-bind:class="{'has-error': errors.has('messageReply') }">
                                            <label for="messageReply" class="col-sm-2 control-label"></label>
                                            <input id="messageReply"
                                                   name="messageReply"
                                                   v-model="messageReply"
                                                   class="form-control reply-box"
                                                   v-validate="{ rules: { required: true, max: 500 }}"
                                                   v-bind:class="{ 'input': true, 'has-error': errors.has('messageReply') }"
                                                   title="message"
                                                   maxLength="500"
                                                   :disabled="!activeOpenChat || activeChatTerminatedByPatient"
                                                   placeholder="Type your message here..."/>
                                            <span class="input-group-btn">
                                                <button class="send-btn btn btn-primary" style="margin-top: 6px"
                                                        :disabled="hasEmptyMessage || isRefreshing || activeChatTerminatedByPatient" @click="postReply">Send
                                                </button>
                                            </span>
                                        </div>
                                        <span v-show="errors.has('messageReply')"
                                              class="help-block text-danger">{{ errors.first('messageReply')
                                            }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab header="Closed Chats">
                        <div class="row">
                            <div class="col-md-3">
                                <closed-conversations></closed-conversations>
                            </div>
                            <div class="col-md-9">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"><i class="fa fa-comments fa-fw"></i>
                                            <strong>Chat</strong></h3>
                                    </div>
                                    <div id="chat-messages" class="panel-body chat-message-body closed-chats-body">
                                        <div v-if="isLoading">
                                            <spinner :size="55" message="Loading Messages"></spinner>
                                        </div>
                                        <div v-if="!isLoading && activeClosedChat">
                                            <view-closed-conversation :closedId="activeClosedChat"
                                                                      :closedChatMessages="closedChatMessages"></view-closed-conversation>
                                        </div>
                                        <div v-if="!isLoading && !activeClosedChat">
                                            <img src="/themes/gentella-admin/assets/img/chat_placeholder.png"
                                                 style="width: 100%;"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>
                </tabs>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">
    import WaitingConversations from './WaitingConversations.vue';
    import ActiveConversations from './ActiveConversations.vue';
    import ClosedConversations from './ClosedConversations.vue';
    import ViewConversation from './ViewConversation.vue';
    import ViewClosedConversation from './ViewClosedConversation.vue';
    import * as VueStrap from 'vue-strap';
    import Spinner from 'vue-simple-spinner';
    //import {empty} from 'vue-computed-helpers';
    import PulseLoader from 'vue-spinner/src/PulseLoader.vue';
    import collect from 'collect.js';

    export default {
        mounted: function () {
            console.log('Component mounted');
        },

        data() {
            return {
                spinnerSize: '10px',
                isLoading: false,
                isRefreshing: false,
                messageReply: '',
                activeTab: 0,
                activeOpenChat: 0,
                activeOpenChatData: '',
                activeClosedChat: 0,
                activeChatTerminatedByPatient: false,
                chatMessages: [],
                closedChatMessages: [],
            }
        },

        created() {
            var self = this;

            //this.openChats = this.closedChats = this.waitingChats = this.sampleData;

            // Refresh active conversation ever x seconds
            // self.refreshActiveConversation();
            self.appBus().$on('refresh-active-conversation', function () {
                console.log('Receiving event: ====> refresh-active-conversation');
                self.activeChatTerminatedByPatient = false;
                self.refreshActiveConversation();
            });

            // Load the selected conversation
            self.appBus().$on('load-conversation', function (conversationData) {
                self.activeChatTerminatedByPatient = false;
                self.loadConversation(conversationData);
            });

            self.appBus().$on('load-closed-conversation', function (conversationData) {
                self.loadClosedConversation(conversationData);
            });

            self.appBus().$on('check-active-conversation-status', function () {
                self.getActiveConversationStatus();
            });
        },

        components: {
            'waiting-conversations': WaitingConversations,
            'active-conversations': ActiveConversations,
            'closed-conversations': ClosedConversations,
            'view-conversation': ViewConversation,
            'view-closed-conversation': ViewClosedConversation,
            tabs: VueStrap.tabs,
            tab: VueStrap.tab,
            tabGroup: VueStrap.tabGroup,
            Spinner,
            PulseLoader
        },

        methods: {
            appBus() {
                return this.$appBusEvent;
            },

            postReply() {
                var self = this;
                self.isRefreshing = true;
                axios.post(laroute.route('conversation.messages.add'), {
                    conversationId: self.activeOpenChat,
                    conversationMessage: self.messageReply
                })
                    .then(function (response) {
                        self.isRefreshing = false;
                        self.messageReply = '';
                        //self.activeOpenChat = self.activeOpenChat;
                        // self.chatMessages = response.data.chats;
                        Vue.nextTick(function () {
                            self.errors.clear();
                        });

                    })
                    .then(function () {
                        self.loadConversation({conversation: self.activeOpenChatData}, true);
                    })
                    .catch(function (error) {
                        self.isRefreshing = false;
                    })
            },

            loadConversation(conversationData, refreshMode) {
                var self = this;

                if (typeof refreshMode === 'undefined') {
                    self.isLoading = true;
                } else {
                    self.isRefreshing = true;
                }
                axios.post(laroute.route('conversation.messages'), {conversationId: conversationData.conversation.chatConversationId})
                    .then(function (response) {
                        if (typeof refreshMode === 'undefined') {
                            self.isLoading = false;
                        } else {
                            self.isRefreshing = false;
                        }
                        self.activeOpenChat = conversationData.conversation.chatConversationId;
                        self.activeOpenChatData = conversationData.conversation;

                        //Vue.nextTick(function() {
                        if (typeof refreshMode === 'undefined') {
                            self.chatMessages = response.data.messages;
                            $('#chat-messages').niceScroll();
                        } else {
                            //Vue.set(self.chatMessages, response.data.messages);
                            var lastMessage = collect(response.data.messages).last();
                            console.log(lastMessage);
                            self.chatMessages.push(lastMessage);

                            // Ensure the prop data is also updated
                            //self.appBus().$emit('update-open-conversation', lastMessage);
                            self.appBus().$emit('update-open-conversation', response.data.messages);

                            Vue.nextTick(function () {
                                $('#chat-messages').getNiceScroll().remove();
                                $('#chat-messages').niceScroll();
                                $('#chat-messages').getNiceScroll(0).doScrollTop($('#chat-messages-list').height());
                            })

                        }

                    })
                    .catch(function (error) {
                        if (typeof refreshMode === 'undefined') {
                            self.isLoading = false;
                        } else {
                            self.isRefreshing = false;
                        }
                    })
            },

            loadClosedConversation(conversationData) {

                var self = this;
                self.isLoading = true;
                axios.post(laroute.route('conversation.messages'), {conversationId: conversationData.conversation.chatConversationId})
                    .then(function (response) {
                        self.isLoading = false;
                        self.activeClosedChat = conversationData.conversation.chatConversationId;

                        //Vue.nextTick(function() {
                        self.closedChatMessages = response.data.messages;
                        $('#chat-messages').niceScroll();
                        //})

                    })
                    .catch(function (error) {

                    })
            },

            refreshActiveConversation() {
                var self = this;
                if (self.activeOpenChat > 0) {
                    setTimeout(function () {

                    }, 1000 * NowGP.new_chat_interval_check);
                    self.loadConversation({conversation: self.activeOpenChatData}, true);
                }
            },

            getActiveConversationStatus() {
                var self = this;
                axios.get(laroute.route('get.conversation.status', {
                    conversationId: self.activeOpenChat
                }))
                    .then(function (response) {

                        if (response.data.status === 'Closed' || response.data.status === 'Deleted') {

                            self.activeChatTerminatedByPatient = true;
                            self.activeOpenChat = 0;
                            self.appBus().$emit('refresh-closed-conversations');

                            new Noty({
                                type: 'warning',
                                theme: 'bootstrap-v3',
                                text: 'This conversation has been terminated by the patient. Please check the closed conversations',
                                timeout: false,
                                progressBar: true,
                                closeWith: ['click', 'button']
                            }).show();
                        }

                        self.appBus().$emit('refresh-open-conversations');

                    })
                    .catch(function (error) {
                        //
                        /*if (error.response.status === 403 || error.response.status === 401) {
                            handleAuthUserErrors(error.response.status); // DNV-4771
                        }*/
                    });
            }
        },

        computed: {
            hasEmptyMessage() {
                return this.messageReply === '';
            }
        }

    }
</script>

<style type="text/scss">
    .chat-lists {
        height: 320px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .chat-message-body {
        height: 625px;
    }

    .chat-message-body-closed {
        height: 625px;
    }

    .reply-box {
        resize: none;
    }

    .closed-chats, .closed-chats-body {
        height: 700px;
    }

    .chat-message {
        /*position: absolute;
        top: 10px;*/
    }

    .chat-triage {
        color: #199bd7;
    }

    .chat-now-pharmacy {
        color: #65bb55;
    }

    .chat-support {
        color: #8560a8;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }

    .btn-circle.btn-lg {
        width: 50px;
        height: 50px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 25px;
    }

    .btn-circle.btn-xl {
        width: 70px;
        height: 70px;
        padding: 10px 16px;
        font-size: 24px;
        line-height: 1.33;
        border-radius: 35px;
    }

    #chat-messages {
        overflow: hidden;
        overflow-y: auto;
    }
</style>