<template>
    <!-- Enter HTML Code Here -->
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title"><strong>Closed Conversations</strong></h3>
        </div>
        <div class="list-group chat-lists closed-chats" v-show="isLoading">
            <div class="row">
                <div class="col-md-12">
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <spinner :size="40"></spinner>
                </div>
            </div>
        </div>
        <div  class="list-group chat-lists closed-chats" v-if="!isLoading && closedConversations.length === 0">
            <div class="row">
                <div class="col-md-12 text-center" style="margin-top: 30px;">
                    <i class="material-icons md-dark pmd-sm pmd-accordion-arrow md-48" style="font-size: 56px">chat</i>
                    <p><strong>You have no closed conversations</strong></p>
                </div>
            </div>
        </div>
        <div id="closedChats" class="list-group chat-lists closed-chats" v-if="!isLoading && closedConversations.length !== 0">
            <a href="javascript:void(0)"
               class="list-group-item"
               v-for="(conversation, index) in closedConversations"
               :conversation="conversation"
               :key="conversation.chatConversationId"
               :index="index"
               @click="fetchClosedConversation({conversation: conversation, index: index, type: 'closed'})">
                <div class="media">
                    <div class="media-left">
                        <!--<img class="media-object img-circle" src="/themes/gentella-admin/assets/img/avatar-tiny.jpg" alt="..." width="40">-->
                        <avatar :username="conversation.userFullName"
                                :size="40"
                                :src="conversation.userAvatar"
                        ></avatar>
                    </div>
                    <div class="media-body chat-message">
                        <p>{{ conversation.summary | truncate(40) }}</p>
                        <p class="small text-muted text-right"><span v-html="displayChatType(conversation.chatType)"></span> - {{ conversation.startTime | formatDate('DD/MM/YYYY @ HH:mm') }}</p>
                        <p class="small text-muted text-right"><strong>Patient Id:</strong> {{ conversation.patientId }}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</template>

<script type="text/babel">
    import Avatar from 'vue-avatar';
    //import { empty } from 'vue-computed-helpers';
    import Spinner from 'vue-simple-spinner';
    //import { truncate } from 'vue2-filters';
    import PulseLoader from 'vue-spinner/src/PulseLoader.vue';
    import collect from 'collect.js';

    export default {
        mounted: function () {
            console.log('Component mounted - closed conversations');
        },

        created() {
            var self = this;

            self.getClosedConversations();

            self.appBus().$on('refresh-closed-conversations', function() {
                self.getClosedConversations(true);
            })

        },

        components: {
            Avatar,
            Spinner,
            PulseLoader
        },

        props: {
            closedId: Number
        },

        data() {
            return {
                spinnerSize: '5px',
                isLoading: false,
                isRefreshing: false,
                closedConversationId: this.closedId,
                closedConversations: []
            }
        },

        methods: {
            appBus() {
                return this.$appBusEvent;
            },

            fetchClosedConversation(conversationData) {
                let self = this;
                self.appBus().$emit('load-closed-conversation', { type: conversationData.type , conversation: conversationData.conversation });
            },

            displayChatType(chatType) {
                switch(chatType) {
                    case 1:
                        return '<span class="chat-triage"><strong>Triage</strong></span>';
                    case 2:
                        return '<span class="chat-now-pharmacy"><strong>Pharmacy</strong></span>';
                    case 3:
                        return '<span class="chat-support"><strong>Support</strong></span>';
                }
            },

            getClosedConversations(refreshMode) {
                var self = this;

                if (typeof refreshMode === 'undefined') {
                    self.isLoading = true;
                } else {
                    self.isRefreshing = true;
                }
                //axios.get(laroute.route('refresh.closed.conversations'))
                axios.get(NowGP.siteUrl + '/admin/chat/refresh_closed_conversations')

                    .then(function (response) {

                        if (typeof refreshMode === 'undefined') {
                            self.isLoading = false;
                        } else {
                            self.isRefreshing = false;
                        }

                        Vue.nextTick(function () {
                            self.$('#closedChats').niceScroll();
                        });
                        self.closedConversations = response.data;
                    })
                    .catch(function (error) {

                        if (typeof refreshMode === 'undefined') {
                            self.isLoading = false;
                        } else {
                            self.isRefreshing = false;
                        }

                    })
            }
        },

        filters: {
            formatDate(value, format = 'YYYY-MM-DD HH:MM') {
                return moment(value).format(format);
            }
        },

        computed: {
            hasConversations() {
                return this.closedConversations.length !== 0;
            }
        }
    }
</script>

<style>

</style>