<template>
    <!-- Enter HTML Code Here -->
</template>

<script type="text/babel">
    export default {
        mounted: function () {
            console.log('Component mounted');
        }
    }
</script>

<style>

</style>