<template>
    <!-- Enter HTML Code Here -->
    <div>

        <div v-for="(message, index) in messages" :message="message" :index="index">
            <!-- User -->
            <div class="media" v-if="message.userType === 'User'">
                <div class="media-left">
                    <avatar :username="message.userFullName"
                            :size="40"
                            :src="message.userAvatar"
                    ></avatar>
                </div>
                 <div class="media-body">
                     <h5 class="media-heading">{{ message.userFullName }} - <span class="small"><strong>Patient Id:</strong> {{ message.patientId }}</span></h5>
                    <p>{{ message.message }}</p>
                    <p class="small text-muted text-left">{{ message.timestamp | formatDate('DD/MM/YYYY @ HH:mm') }}</p>
                </div>
            </div>

            <!-- Admin , Support , Clinical -->
            <div class="media" v-else>
                <div class="media-body text-right">
                    <h5 class="media-heading">{{ message.userFullName }}</h5>
                    <p>{{ message.message }}</p>
                    <p class="small text-muted text-right">{{ message.timestamp | formatDate('DD/MM/YYYY @ HH:mm') }}</p>
                </div>

                <div class="media-right">
                    <avatar :username="message.userFullName"
                            :size="40"
                            :src="message.userAvatar"
                    ></avatar>
                </div>
            </div>
        </div>
    </div>

</template>

<script type="text/babel">

    import ConversationMessages from './ConversationMessages.vue';
    import Avatar from 'vue-avatar';

    export default {
        mounted: function () {
            console.log('Component mounted');
        },

        created() {
              var self = this;
              self.appBus().$on('update-closed-conversation', function(lastMessage) {
                  self.updateClosedConversation(lastMessage);
              })
        },

        props: {
            closedChatMessages: [Object, Array]
        },

        data() {
            return {
                messages: this.closedChatMessages
            }
        },

        methods: {
            appBus() {
                return this.$appBusEvent;
            },

            updateClosedConversation(lastMessage) {
                var self = this;
                //self.messages.push(lastMessage);
                self.messages = self.chatMessages;
            }
        },

        components: {
            ConversationMessages,
            Avatar
        },

        filters: {
            formatDate(value, format = 'YYYY-MM-DD HH:MM') {
                return moment(value).format(format);
            }
        }
    }
</script>

<style>

</style>