<template>
    <!-- Enter HTML Code Here -->
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title"><strong>Waiting Conversations</strong> <span class="pull-right"><pulse-loader :loading="isRefreshing" :size="spinnerSize"></pulse-loader></span></h3>
        </div>
        <div  class="list-group chat-lists" v-show="isLoading">
            <div class="row">
                <div class="col-md-12">
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <spinner :size="40"></spinner>
                </div>
            </div>
        </div>
        <div class="list-group chat-lists" v-if="!isLoading && waitingConversations.length === 0">
            <div class="row">
                <div class="col-md-12 text-center" style="margin-top: 30px;">
                    <i class="material-icons md-dark pmd-sm pmd-accordion-arrow md-48" style="font-size: 56px">chat</i>
                    <p><strong>You have no waiting conversations</strong></p>
                </div>
            </div>
        </div>
        <div id="waitingChats" class="list-group chat-lists" v-if="!isLoading && waitingConversations.length !== 0">
            <a href="javascript:void(0)"
               class="list-group-item"
               v-for="(conversation, index) in waitingConversations"
               :conversation="conversation"
               :key="conversation.chatConversationId"
               :index="index"
               @click="joinConversation(conversation, index)">
                <div class="media">
                    <div class="media-left">
                        <!--<img class="media-object img-circle" src="/themes/gentella-admin/assets/img/avatar-tiny.jpg" alt="..." width="40">-->
                        <avatar :username="conversation.userFullName"
                                :size="40"
                                :src="conversation.userAvatar"
                        ></avatar>
                    </div>
                    <div class="media-body chat-message">
                        <p>{{ conversation.summary | truncate(40) }}</p>
                        <p class="small text-muted text-right"><span v-html="displayChatType(conversation.chatType)"></span> - {{ conversation.startTime | formatDate('DD/MM/YYYY @ HH:mm') }}</p>
                        <p class="small text-muted text-right"><strong>Patient Id:</strong> {{ conversation.patientId }}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</template>

<script type="text/babel">
    import Avatar from 'vue-avatar';
    import Spinner from 'vue-simple-spinner';
    //import { empty } from 'vue-computed-helpers';
    import PulseLoader from 'vue-spinner/src/PulseLoader.vue';

    export default {
        mounted: function () {
            console.log('Component mounted');
            var self = this;
            self.appBus().$on('refresh-waiting-conversations', function() {
                self.getWaitingConversations(true);
            })
        },

        created() {
          this.getWaitingConversations();
        },

        components: {
            Avatar,
            Spinner,
            PulseLoader
        },

        data() {
            return {
                spinnerSize: '5px',
                isLoading: false,
                isRefreshing: false,
                waitingConversations: []
            }
        },

        methods: {

            appBus() {
                return this.$appBusEvent;
            },

            joinConversation(conversation, index) {

                var self = this;
                self.isRefreshing = true;

                console.log(conversation);

                axios.post(laroute.route('conversation.messages.join'), {conversationId: conversation.chatConversationId})
                    .then(function(response) {
                        self.isRefreshing = false;

                        if (typeof response.data.conversationId !== 'undefined') {
                            self.removeChatFromWaiting(index);
                            //self.appBus().$emit('refresh-open-conversations');
                            self.appBus().$emit('add-to-open-conversations', { conversation: conversation, index: index, type: 'open'});
                            self.appBus().$emit('load-conversation', { conversation: conversation, index: index, type: 'open'});
                        } else {
                            swal('Error', 'There was a problem adding you to the selected conversation. <br />Please try again');
                        }
                    })
                    .catch(function() {
                        self.isRefreshing = false;
                        swal('Error', 'There was a problem adding you to the selected conversation. <br />Please try again');
                    })
            },

            displayChatType(chatType) {
                switch(chatType) {
                    case 1:
                        return '<span class="chat-triage"><strong>Triage</strong></span>';
                    case 2:
                        return '<span class="chat-now-pharmacy"><strong>Pharmacy</strong></span>';
                    case 3:
                        return '<span class="chat-support"><strong>Support</strong></span>';
                }
            },

            getWaitingConversations(refreshMode) {
                var self = this;

                if (typeof refreshMode === 'undefined') {
                    self.isLoading = true;
                } else {
                    self.isRefreshing = true;
                }

                axios.get(laroute.route('refresh.waiting.conversations'))
                    .then(function (response) {
                        if (typeof refreshMode === 'undefined') {
                            self.isLoading = false;
                        } else {
                            self.isRefreshing = false;
                        }
                        self.waitingConversations = response.data;

                        Vue.nextTick(function () {
                            self.$('#waitingChats').niceScroll();
                        });
                    })
                    .catch(function (error) {
                        if (typeof refreshMode === 'undefined') {
                            self.isLoading = false;
                        } else {
                            self.isRefreshing = false;
                        }
                    })
            },

            removeChatFromWaiting(index) {
                this.waitingConversations.splice(index, 1);
            },

            updateSelectedConversation(data) {
                let self = this;
                console.log(data);
                self.feeds[data.feedIndex].content = data.status.content;
            },

        },

        filters: {
            formatDate(value, format = 'YYYY-MM-DD HH:MM') {
                return moment(value).format(format);
            }
        },

        computed: {
            hasWaitingConversations() {
                return this.waitingConversations.length !== 0;
            }
        }
    }
</script>

<style>

</style>