<template>
    <div class="x_panel">
        <div class="x_title">
            <h2>
                {{ $route.meta.title }} {{$route.path.includes('/manage') ?
                ': '+ $route.params.status && $route.params.status.length < 3 ? 'All' :  ': '+ $route.params.status.charAt(0).toUpperCase() + $route.params.status.slice(1) : '' }}
                </h2>
            <div class="box-tools pull-right" v-if="$route.path.includes('import')">
                <router-link class="btn btn-default btn-sm pull-right" :to="{ name: 'import-csv' }"><i
                        class="fa fa-file fa-lg fa-fw"></i> Import Hub</router-link>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <keep-alive>
                <router-view></router-view>
            </keep-alive>
        </div>
    </div>
</template>

<script>

    export default {
        name: "repeatPrescriptions",

        data: function () {
            return {
                isLoadingMain: true,
            }
        },

    }


</script>

<style scoped>

</style>