<template>
    <div>
        <div class="box-info" v-if="$parent.isLoadingMain">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="center-block true-center text-center"  style="margin-top: 25px;">
                            <spinner :size="55"></spinner>
                            <p>Loading Data</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-info" v-else>
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12" style="margin-bottom:25px;">
                        <div class="form-group col-xs-12 no-padding">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Select the type of spreadsheet you are uploading:</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <select class="select2_group form-control" name="type" v-model="selectedType" style="max-width:350px">
                                    <option v-for="option in type" v-bind:value="option">
                                        {{ option.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 no-padding" v-if="selectedType !== null">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Document type specifications:</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <ul>
                                    <li><strong>Identification:</strong> {{selectedType.id}}</li>
                                    <li><strong>Name:</strong> {{selectedType.name}}</li>
                                    <li><strong>Allowed files:</strong> {{selectedType.accepts}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 no-padding" v-if="selectedType !== null">
                        <div class="alert alert-warning"><strong>Warning!</strong> You are only allowed to upload <strong>one</strong> file at a time.</div>
                        <xls-csv-parser :columns="columns" @on-validate="onValidate" :help="help" lang="en" ref="parser"></xls-csv-parser>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    //declare components
    import Spinner from "vue-simple-spinner";
    import XlsCsvParser from "vue-xls-csv-parser";

    Vue.use('Spinner',Spinner);


    export default {
        name: "import-csv",

        components: {
            Spinner,
            XlsCsvParser,
        },


        beforeRouteEnter(to, from, next) {
            next(vm => {
                vm.$parent.isLoadingMain = false;
            });
        },


        data: function () {
            return {
                selectedType: null,
                isSaving:false,
                type:[
                     {
                        id: 'rm',
                        name: 'Royal Mail',
                        accepts: 'csv,xsl'
                    },
                    {
                        id: 'psl',
                        name: 'PSL - Scripts',
                        accepts: 'csv,xsl'
                    }
                ],
                uploadedFiles: [],
                columns: [
                    { name: 'Other', value: 'other', isOptional: true },
                ],
                newcolumn:[],
                importData: [],
                results: [],
                help: 'Please match the required fields under the right name.',
                parser: null,
                userColumns:null,
            }
        },

        mounted: function () {

        },

        created: function () {
        },

        methods: {
            onValidate(results) {
                console.log("results:",results);
                this.results = results;
            },

        },

        watch:{

            'selectedType': function () {
                var self = this;
                // fill with royal mail specifications
                if(self.selectedType.id === 'rm'){
                    self.columns = [
                        { name: 'Customer', value: 'patient_name' },
                        { name: 'Address line 1', value: 'patient_address_line_1' },
                        { name: 'Address line 2', value: 'patient_address_line_2' },
                        { name: 'Postcode', value: 'patient_postcode' },
                        { name: 'Tracking number', value: 'tracking_number' },
                    ]
                }

                if(self.selectedType.id === 'psl'){
                    self.columns = [
                        { name: 'Customer', value: 'patient_name' },
                        { name: 'Description', value: 'item_description' },
                        { name: 'Items', value: 'item_total' },
                    ]
                }
            },


            'results': function () {
                // fill with royal mail specifications
                //parse royal mail csv into array for use
                var self = this;
                var mainImportData = new Array();
                var importData = new Object();
                _.forEach(self.results, function (data, key) {
                    var importDataKey = data.column;
//                     console.log(importDataKey)
                    _.forEach(data.data, function (value, index) {
                        if(mainImportData[index] === undefined){
                            mainImportData[index] = new Array();
                        }
                        var temp = new Object()
                        temp = { [importDataKey]: value ? value : ''};
                        mainImportData[index].push(temp)
                    });
                });

                var cleanedData = new Array();

                _.forEach(mainImportData, function (data, index) {
                    var tempObject = new Object;

                    _.forEach(data, function (userData, userDataIndex) {
                        _.merge(tempObject, userData);
                    });
// 					cleanedData[index] = new Array();
                    cleanedData[index]= tempObject;

                });
                console.log(importData);
                console.log(mainImportData);
                console.log(cleanedData);
                self.importData = cleanedData;
            },

            'parser': function() {
                //fill parent with child component data
                var self = this;
                // self.userColumns = self.parser.$data.userColumns;
            },

            'parser.userColumns': function(){
                var self = this;
                //update column component to output only the columns we need
                self.$nextTick(function () {
                    var self = this;
                    self.newcolumn = new Array();
                    if(self.parser.$children.length > 2){
                        _.forEach(self.parser.$children[2].localUserColumns, function (column, key) {
                            _.forEach(self.columns, function (mainColumn, key) {
                                if(_.includes(column, mainColumn.name)){
                                    self.newcolumn.push(column)
                                }
                            });
                        });

                        //create holder for
                        self.parser.$children[2].localUserColumns = self.newcolumn;

                        //confirmation alert
                        swal(
                            'Document Uploaded!',
                            '',
                            'success'
                        );

                    }
                })
            },


            'importData': function(){
                var self = this;
                self.$nextTick(function () {
                    self.$parent.isLoadingMain = true;
                    var importRouteName = self.selectedType.id === 'rm' ? 'updateImport' : 'updateImportPSL';
                    self.$router.push({
                        name: importRouteName,
                        params:
                            {
                                importData: self.importData
                            }
                    })
                })
            }

        },

        computed: {

        },

        updated: function () {
            this.$nextTick(function () {
                var self = this;
                //bind child-component reference to main component value
                if(self.$refs.parser){
                    self.parser = self.$refs.parser;
                }
            })
        },
    }
</script>

<style scoped>
    .dropbox {
        outline: 2px dashed grey; /* the dash box */
        outline-offset: -10px;
        background: transparent;
        color: dimgray;
        padding: 10px 10px;
        min-height: 200px; /* minimum height */
        position: relative;
        cursor: pointer;
    }

    .input-file {
        opacity: 0; /* invisible but it's there! */
        width: 100%;
        height: 200px;
        position: absolute;
        cursor: pointer;
    }

    .dropbox:hover {
        background: lightblue; /* when mouse over to the drop zone, change color */
    }

    .dropbox p {
        font-size: 1.2em;
        text-align: center;
        padding: 50px 0;
    }

</style>