<template>
    <div>
        <div class="box-info" v-if="$parent.isLoadingMain && resultData === null">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="center-block true-center text-center"  style="margin-top: 25px;">
                            <spinner :size="55"></spinner>
                            <p>Processing Result</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-info" v-else>
            <div class="alert alert-info" style="margin-top:10px;">
                <strong>Info! </strong> The prescriptions below have been updated and moved to the status of doctor signed off.


            </div>
            <table class="table" style="padding: 5px ;">
                <thead>
                <tr>
                    <th>Prescription ID</th>
                    <th>Old Status</th>
                    <th>New Status</th>
                    <th style="text-align: center">Prescription Update</th>
                    <th style="text-align: center">Endorsement Update</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="result in resultData">
                    <td><a :href="'/repeatprescription/admin/repeat/'+result.PrescriptionId" target="_blank">{{result.PrescriptionId}}</a></td>
                    <td>{{result.OldStatus}}</td>
                    <td>{{result.NewStatus}}</td>
                    <td style="text-align: center"><i :class="'fa '+ resultParser(result.PrescriptionUpdate) "></i></td>
                    <td style="text-align: center"><i :class="'fa '+ resultParser(result.EndorsementUpdate) "></i></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>

    import Spinner from "vue-simple-spinner";

    Vue.use('Spinner',Spinner);

    export default {
        name: "import-result-psl",

        components: {
            Spinner
        },

        beforeRouteEnter(to, from, next) {

            if (!from.name) {
                next({ path: '/import' })
            }

            next(vm => {
                vm.$parent.isLoadingMain = true;
                vm.getData();
            });
        },


        data: function () {
            return {
                resultData:null,
                NowGP: window.NowGP,
            }
        },

        methods: {
            getData(){
                var self = this;
                self.resultData = this.$route.params.resultData;
                self.$parent.isLoadingMain = false;
            },

            resultParser(result){

                if(result === true){
                    return 'fa-thumbs-up';
                }

                return 'fa-thumbs-down';
            },
        }

    }
</script>

<style scoped>

</style>