<template>
    <div>
        <div class="box-info" v-if="$parent.isLoadingMain && fetchData.length === 0">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="center-block true-center text-center"  style="margin-top: 25px;">
                            <spinner :size="55"></spinner>
                            <p>Loading Data</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-info" v-else-if="$parent.isLoadingMain && fetchData.length > 0">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="center-block true-center text-center"  style="margin-top: 25px;">
                            <spinner :size="55"></spinner>
                            <p>Processing Data</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-info" v-else-if="noData === true">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="center-block true-center text-center"  style="margin-top: 25px;">
                            We couldn't process the required data. Please try again!
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-info" v-else-if="fetchData.length > 0">
            <tabs >
                <tab :title="'Matched ('+matchElements+')'">
                    <div class="alert alert-info" style="margin-top:10px;">
                        <strong>Info! </strong>Please select the prescriptions you want to update.
                    </div>
                    <div class="table-responsive" style="padding: 5px ;">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                            <tr class="headings">
                                <th>
                                    <p-check class="p-svg p-curve" color="success"  v-model="checkAll">
                                        <!-- svg path -->
                                        <svg slot="extra" class="svg svg-icon" viewBox="0 0 20 20">
                                            <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                                                  style="stroke: white;fill:white"></path>
                                        </svg>
                                    </p-check>

                                </th>
                                <th class="column-title">Prescription Id </th>
                                <th class="column-title">Prescription Address </th>
                                <th class="column-title">Patient Name </th>
                                <th class="column-title no-link last"><span class="nobr">Action</span>
                                </th>
                                <th class="bulk-actions" colspan="5">
                                    <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                </th>
                            </tr>
                            </thead>
                            <tbody v-for="data in fetchData">
                            <th colspan="5" v-if="data.repeatPrescription.length > 0">
                                <div class="col-xs-12"><strong>Patient Name:</strong>{{data.csvData.patient_name}}</div>
                                <div class="col-xs-12"><strong>Patient Address:</strong>{{data.csvData.patient_address_line_1}}</div>
                                <div class="col-xs-12"><strong>Tracking Name:
                                    <a :href="'https://www.royalmail.com/track-your-item#/tracking-results/'+data.csvData.tracking_number" target="_blank">{{data.csvData.tracking_number}}</a>
                                </strong></div>

                            </th>
                            <tr class="even pointer data-selector" v-for="prescriptionData in data.repeatPrescription"  v-if="data.repeatPrescription.length > 0">
                                <td class="a-center ">
                                    <p-check class="p-svg p-curve" color="success" v-model="updateData"  :value="prescriptionData">
                                        <!-- svg path -->
                                        <svg slot="extra" class="svg svg-icon" viewBox="0 0 20 20">
                                            <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
                                                  style="stroke: white;fill:white"></path>
                                        </svg>
                                    </p-check>


                                </td>
                                <td class=" ">{{prescriptionData.prescriptionId}}</td>
                                <td class=" ">{{data.csvData.patient_address_line_1}}</td>
                                <td class=" ">{{data.csvData.patient_name}}</td>
                                <td class=" last">
                                    <button class="btn btn-xs btn-success view-rp" @click="getRepeatPrescription(prescriptionData.prescriptionId)"><i class="glyphicon glyphicon-hourglass"></i> View Repeat Prescription</button>
                                </td>
                            </tr>
                            </tbody>
                            <tbody v-if="matchElements == 0">
                            <th colspan="5" style="text-align: center; padding:25px;">
                                There are no matched repeat prescriptions
                            </th>
                            </tbody>
                        </table>
                        <div class="col-xs-12 no-padding">
                            <div class="col-md-4 text-right pull-right" style="padding-top: 10px; padding-right: 0px;">
                                <button class="btn btn-success btn-sm pull-right add-tracking " @click="confirmUpdate()" :disabled="!hasData"><i class="fa fa-check fa-lg fa-fw"></i> Submit Tracking({{updateData.length}})</button>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab :title="'Not Matched ('+unmatchedElements+')'">
                    <div class="alert alert-info" style="margin-top:10px;">
                        <strong>Info! </strong>This table contains all the tracking data without a matched prescription on the database.
                    </div>
                    <div class="table-responsive" style="padding: 5px ;">
                        <table class="table table-striped jambo_table">
                            <thead>
                            <tr class="headings">
                                <th class="column-title">Prescription Id </th>
                                <th class="column-title">Prescription Address </th>
                                <th class="column-title">Patient Name </th>
                                <th class="column-title no-link last"><span class="nobr">Action</span>
                                </th>
                            </tr>
                            </thead>
                            <tbody v-for="data in fetchData">
                            <th  colspan="4" v-if="data.repeatPrescription.length === 0">
                                <div class="col-xs-12"><strong>Patient Name:</strong>{{data.csvData.patient_name}}</div>
                                <div class="col-xs-12"><strong>Patient Address:</strong>{{data.csvData.patient_address_line_1}}</div>
                                <div class="col-xs-12"><strong>Tracking Name:
                                    <a :href="'https://www.royalmail.com/track-your-item#/tracking-results/'+data.csvData.tracking_number" target="_blank">{{data.csvData.tracking_number}}</a>
                                </strong></div>
                            </th>
                            <tr class="even pointer" v-if="data.repeatPrescription.length === 0">
                                <td style="text-align: center" colspan="4"> No Match </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </tab>
            </tabs>
        </div>
    </div>
</template>

<script>

    import Spinner from "vue-simple-spinner";
    import PrettyCheck from 'pretty-checkbox-vue/check';
    import {Tabs, Tab} from 'uiv';


    Vue.component('tabs', Tabs);
    Vue.component('tab', Tab);
    Vue.component('p-check', PrettyCheck);
    Vue.use('Spinner',Spinner);


    export default {
        name: "updateImport",

        components: {
            Spinner,
        },

        beforeRouteEnter(to, from, next) {

            if (!from.name) {
                next({ path: '/import' })
            }

            next(vm => {
                vm.$parent.isLoadingMain = true;
                vm.resetData();
                vm.getData();
                vm.matchData();
            });
        },

        data: function () {
            return {
                importData: null,
                fetchData:[],
                updateData: [],
                checkAll:false,
                noData:false,
            }
        },

        methods: {

            resetData(){
                var self=this;
                self.importData = null;
                self.fetchData = [];
                self.updateData = [];
                self.checkAll = false;
                self.noData = false;
            },
            getData(){
                var self = this;
                self.importData = this.$route.params.importData
            },

            matchData(){
                var self = this;
                self.$parent.isLoadingMain = true;
                axios.post(laroute.route('admin.repeatprescription.import.data'),{importData:self.importData})
                    .then(function (response) {
                        self.fetchData = response.data;
                        self.$parent.isLoadingMain = false;
                    })
                    .catch(function (error) {
                        console.log(error);
                        self.$parent.isLoadingMain = false;
                        self.noData = true;
                    });
            },

            getRepeatPrescription(prescriptionId){
                var self = this;
                var tcsHtml = '';
                swal({
                    title: 'Summary',
                    showCancelButton: false,
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                    allowEnterKey: false,
                    html: tcsHtml,
                    onOpen: function () {
                        swal.showLoading();
                        axios.get(NowGP.siteUrl + '/repeatprescription/admin/repeat/view/summary/'+prescriptionId)
                            .then(function (response) {
                                tcsHtml = response.data;
                                var contentContainer = $('#swal2-content');
                                contentContainer.show();
                                contentContainer.html('<div id="tc-wrapper" style="padding:0 5px;">' + tcsHtml + '</div>');
                                contentContainer.addClass('scrollbar style-4 terms-content');
                                contentContainer.niceScroll();
                                swal.hideLoading();
                            })
                            .catch(function (error) {
                                tcsHtml = 'No Data for '+prescriptionId;
                                var contentContainer = $('#swal2-content');
                                contentContainer.show();
                                contentContainer.html('<div id="tc-wrapper" style="padding:0 5px;">' + tcsHtml + '</div>');
                                contentContainer.addClass('scrollbar style-4 terms-content');
                                contentContainer.niceScroll();
                                swal.hideLoading();
                                console.log(error);
                            });
                    }
                });
            },


            confirmUpdate(){
                var self = this;
                var updatingNumber = self.updateData.length;
                swal({
                    title: '',
                    html: 'You are updating ' +updatingNumber+' prescription(s) to sent, are you sure you want to do this?',
                    type: 'question',
                    showCancelButton: true,
                    allowEscapeKey: false,
                    allowEnterKey: false,
                    allowOutsideClick: false,
                    confirmButtonText:'Yes',
                    cancelButtonText:'No',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                }).then((result) => {
                    if (result.value){
                        self.submitUpdate();
                    }
                })
            },

            submitUpdate(){
                var self = this;
                var updatingNumber = self.updateData.length;

                swal({
                    html: 'Enter ' +updatingNumber+' to confirm your update:',
                    title:'',
                    input: 'text',
                    inputPlaceholder: 'Enter ' +updatingNumber ,
                    showCancelButton: true,
                    inputValidator: (value) => {
                        return !value && 'You need to write something.'
                    },
                    preConfirm: function (value) {
                        return new Promise(function (resolve, reject) {
                            setTimeout(function () {
                                if (value != updatingNumber) {
                                    swal.showValidationError(
                                        'You submitted the wrong confirmation number, Please try again.'
                                    )
                                } else {
                                    resolve()
                                }
                            }, 500)
                        })
                    },
                }).then((result) => {
                //change prescription status logic
                    console.log(result.value)
                if (result.value && result.value == updatingNumber) {
                    self.$parent.isLoadingMain = true;
                    axios.post(laroute.route('admin.repeatprescription.import.update'),{updateData:self.updateData})
                        .then(function (response) {
                            if(typeof response.data === 'string' && response.data.indexOf("Access denied") > 0){
                                self.$parent.isLoadingMain = false;
                                swal('Access denied!', "You don't have permission to this functionality.", 'error');
                            } else if (typeof response.data.error !== "undefined") {
                                self.$parent.isLoadingMain = false;
                                swal('An error occurred while updating the prescriptions. Please try again.', response.data.error, 'error');
                            } else{
                                // update prescription status
                                // console.log(response.data);
                                swal('The selected prescription(s) have been updated. ', '', 'success');
                                self.$parent.isLoadingMain = true;
                                self.$router.push({
                                    name: "import-result",
                                    params:
                                        {
                                            resultData: response.data
                                        }
                                })
                            }
                        })
                        .catch(function (error) {
                            self.$parent.isLoadingMain = false;
                            swal({
                                type: 'error',
                                title: '',
                                html: 'An error occurred while updating the prescriptions. Please try again.'
                            })
                        })
                }else if (result.dismiss){
                    //do nothing
                }
                });
            },

            selectAll(){
                var self = this;
                var selected = [];
                if(this.fetchData.length > 0){
                    // add each fetch data repeat prescription
                    this.fetchData.forEach(function (fetchData) {
                        if(fetchData.repeatPrescription.length > 0){
                            fetchData.repeatPrescription.forEach(function (data) {
                                selected.push(data);
                            });
                        }
                    });

                }

                if(selected.length > self.updateData.length){
                    self.updateData = selected;
                }else{
                    self.updateData = [];
                }
            }
        },

        computed: {
            hasData: function () {
                return this.updateData.length > 0 ;
            },

            matchElements: function(){
                var self = this;

                if(self.fetchData.length > 0){
                    var items = self.fetchData.filter(function(data) {
                        return data.repeatPrescription.length > 0;
                    });

                    return items.length;
                }

                return 0;
            },

            unmatchedElements: function(){
                var self = this;

                if(self.fetchData.length > 0){
                    var items = self.fetchData.filter(function(data) {
                        return data.repeatPrescription.length === 0;
                    });

                    return items.length;
                }

                return 0;

            },

        },

        watch: {

            'updateData': function() {
                var self = this;
                var selected = [];
                if(this.fetchData.length > 0){
                    // add each fetch data repeat prescription
                    this.fetchData.forEach(function (fetchData) {
                        if(fetchData.repeatPrescription.length > 0){
                            fetchData.repeatPrescription.forEach(function (data) {
                                selected.push(data);
                            });
                        }
                    });
                }

                if(selected.length > self.updateData.length){
                    self.checkAll = false;
                }

                if(selected.length === self.updateData.length && self.updateData.length > 0){
                    self.checkAll = true;
                }


            },

            'checkAll': function () {
                var self = this;
                var selected = [];
                // if(self.checkAll === true && this.fetchData.length > 0){
                //         // add each fetch data repeat prescription
                //         this.fetchData.forEach(function (fetchData) {
                //             if(fetchData.repeatPrescription.length > 0){
                //                 fetchData.repeatPrescription.forEach(function (data) {
                //                     selected.push(data);
                //                 });
                //             }
                //         });
                //     self.updateData = selected;
                // }else if(self.checkAll === false){
                //     if(selected.length > self.updateData.length){
                //         self.updateData = selected;
                //     }
                //     self.updateData = [];
                // }


                if(this.fetchData.length > 0){
                    // add each fetch data repeat prescription
                    this.fetchData.forEach(function (fetchData) {
                        if(fetchData.repeatPrescription.length > 0){
                            fetchData.repeatPrescription.forEach(function (data) {
                                selected.push(data);
                            });
                        }
                    });
                }

                if(self.checkAll === true){
                    self.updateData = selected;
                }else if(self.checkAll === false){
                    if(selected.length <= self.updateData.length){
                        self.updateData = [];
                    }
                }
            },
        },
    }
</script>

<style scoped>

</style>